[2020-09-27 17:16] pratik-choudhari opened #1 "A program to find minimum number of changes to make a bit string with alternate values."
# Feature ✅

## A program to find minimum number of changes to make a bit string with alternate values.

## Example:
Input: 011101

Output: 1

Input: 100101000

Output:3

In sample 2, If 101010.. template is followed 6 changes are needed but for 0101.. only 3 changes are required.
__Mention programming language while requesting assignment__

[2020-09-27 17:30] pratik-choudhari opened #2 "Regenerate array with closest sum"
# Feature ✅

## Find minimum value to be assigned to the elements so that sum becomes greater than initial sum.

Input: 4 2 1 10 6

Output: 5

Sum of original array = 4+2+1+10+6 = 23
Sum of modified array = 5+5+5+5+5 = 25
__Mention programming language while requesting assignment__

[2020-09-30 17:00] pratik-choudhari opened #3 "Factorial of a large number"
# Feature ✅

## Description

Calculate factorial of a large number such as 100 or 200

## Example

Input: 100
Output : 933262154439441526816992388562667004-
         907159682643816214685929638952175999-
         932299156089414639761565182862536979-
         208272237582511852109168640000000000-
         00000000000000

__⚠Note: The program must not use the normal logic of n! = n*(n-1)*...__

[2020-09-30 17:09] pratik-choudhari opened #4 "Minimun swaps to make a palindrome"
# Feature ✅

## Description

Write a program to calculate minimum number of swaps required to make a string palindrome.

## Example
Input: niitn
Output: 1

Input: deideif
Output: 2
Explanation: swap 1->(d,f), swap 2-> (e, i)
__Mention programming language while requesting assignment__

[2020-09-30 17:22] pratik-choudhari opened #5 "Find the single element"
# Feature ✅

## Description
Find the only word that appeared single time in the input

## Example
Input:  red
          animal
          bird
          animal
          bird

Output: red

Hint: Make use of bit-wise operation
__Mention programming language while requesting assignment__

[2020-09-30 17:29] pratik-choudhari opened #6 "Are these two anagrams?"
# Feature ✅

## Description
A word is an anagram of another if they have same characters but in a different order.

## Example
Input: listen silent
Output: Yes

Input: abcd abcdd
Output: No

## Improvement:
If second word is an anagram check if it is a valid English word

[2020-09-30 17:34] pratik-choudhari opened #7 "Calculator"
# Feature ✅

## Description
Create a calculator that takes input from command line and outputs in the same window

## Example
Input: 1
+
2
Output: 3

__Note: This Calculator is a basic one, add your own new ideas such as trignometric functions, sqrt, log, square, exponents, etc. Or make it into a GUI!__
__Mention programming language while requesting assignment__

[2020-09-30 17:40] pratik-choudhari opened #8 "Math expression evaluation"
# Feature ✅

## Description
Write a program which can evaluate mathematical expressions in infix format.

## Example
Input: 2 + 3 * ( 4 - 2 )
Output: 8

__Note: Use stack__
__Mention programming language while requesting assignment__

[2020-09-30 17:47] pratik-choudhari opened #9 "Find the Pth term in A.P"
# Feature ✅

## Description
Given m<sup>th</sup> and n<sup>th</sup> term of an AP, find the p<sup>th</sup> term

## Example
Format: m n  m<sup>th</sup>term n<sup>th</sup>term p
Input: 6 10 12 20 5
Output: 10
__Mention programming language while requesting assignment__

[2020-09-30 17:50] pratik-choudhari opened #10 "Find primes less than a number"
# Feature ✅

## Description
Print all primes less than or equal to a given number

## Example
Input: 27
Output: 2 3 5 7 11 13 17 19 23

__Hint: Look up for Sieve of Eratosthenes__

[2020-10-01 09:34] pratik-choudhari opened #11 "Scrape dictionary.com"
# Feature ✅

## Description
The task here is to scrape dictionary.com for words and their meanings and store the scraped data into a json file.

## Example
Must be able to run the script and json file should get generated.

__Hint: In python use tqdm for updating progress__
__Mention programming language while requesting assignment__

[2020-10-01 09:43] Rr8eezz4aa commented on #10
Hi, please assign it to me!

[2020-10-01 10:11] pratik-choudhari commented on #10
@Rr8eezz4aa Please mention the language you will be using.

[2020-10-01 10:13] Rr8eezz4aa commented on #10
Python and Java

[2020-10-01 10:14] pratik-choudhari commented on #10
@Rr8eezz4aa You can only choose one!

[2020-10-01 10:24] pratik-choudhari opened #12 "Welcome Contributors!"
Thank you for coming here and your contribution❤
If you are new here then you must go checkout:
1. [README.md](https://github.com/pratik-choudhari/AlgoCode/blob/master/README.md)
2. [CODE_OF_CONDUCT.md](https://github.com/pratik-choudhari/AlgoCode/blob/master/CODE_OF_CONDUCT.md)

In case of any recommendations create an issue and it will be answered soon!

[2020-10-01 10:25] Rr8eezz4aa commented on #10
Python

[2020-10-01 10:39] utkarshbajaj commented on #6
Hey, I'd like to do this

[2020-10-01 10:59] vedanthv commented on #9
Hi, which language can I code in?

[2020-10-01 11:10] vedanthv commented on #3
Hi. Please can you assign the task to me.
Language: Python

[2020-10-01 11:27] AnweshaDan commented on #8
I would like to solve this using C++. Could you please assign this to me ?

[2020-10-01 11:38] nits01 commented on #3
Can you please assign it to me.
Language :  Java

[2020-10-01 11:40] nits01 commented on #4
Assign it to me.
Language : JAVA

[2020-10-01 11:44] vedanthv commented on #3
@pratik-choudhari added the code in Python. Please review and merge

[2020-10-01 11:46] ankitgoel25 commented on #9
@pratik-choudhari I would like to work on this issue.

[2020-10-01 12:08] ankitgoel25 commented on #9
Sorry to say but your question is wrong. If you want to find pth term then the output should be 10 and if you want to find **sum of pth terms** then the answer would be 30

[2020-10-01 12:22] pratik-choudhari commented on #9
My mistake @ankitgoel25, sum and term sounds good!

[2020-10-01 12:22] Blastoise commented on #11
@pratik-choudhari Can I contribute to this?

[2020-10-01 12:23] pratik-choudhari commented on #9
@vedanthv Python, Java, C, C++

[2020-10-01 12:26] pratik-choudhari commented on #11
@Blastoise Sure! Let me know the language.

[2020-10-01 12:27] Blastoise commented on #11
I will be using python.

[2020-10-01 12:33] AlekhyaPoosapati commented on #8
i want to write that in c++ using stacks can you please assign to me

[2020-10-01 12:49] ankitgoel25 commented on #9
Hi @pratik-choudhari , this is my first time contributing to Hactoberfest and open source as well. I made a pull request for the issue in C++ language. Please review my PR and do tell me if I need to do some corrections.
Thank You

[2020-10-01 13:16] Blastoise commented on #11
Hey @pratik-choudhari I just wanted to confirm that I have to scrape the whole dictionary.com at one go or the user will input a word that I need to scrape and store it in JSON.

[2020-10-01 13:24] pratik-choudhari commented on #11
It should scrape all words and meaning from dictionary.com, all stored in json

[2020-10-01 13:26] Blastoise commented on #11
Ok great! I am working on it.

[2020-10-01 13:39] DevanshD3 commented on #9
Hey I would like to code the python version of it!

[2020-10-01 13:40] instareasy commented on #9
I would like to code the solution for this set in JAVA.

[2020-10-01 14:05] sauravUppoor commented on #1
@pratik-choudhari I would like to work on this problem. Language: C++

[2020-10-01 14:07] Raksha25 commented on #2
Hi @pratik-choudhari  , I can handle this one.

[2020-10-01 14:16] pratik-choudhari commented on #2
@Raksha25 Great let me know the language.

[2020-10-01 14:46] tmw9 commented on #5
I can take this up

[2020-10-01 14:48] pratik-choudhari commented on #5
@tmw9 Please mention language as it is mentioned in issue!

[2020-10-01 14:49] tmw9 commented on #5
C++

[2020-10-01 14:54] tmw9 commented on #5
Just one doubt @pratik-choudhari , other elements will appear exactly twice?

[2020-10-01 15:28] DarkCode01 commented on #7
@pratik-choudhari  Can I contribute to this?

[2020-10-01 15:32] pratik-choudhari opened #20 "Number sorting with a twist"
# Feature ✅

## Description
The task is to sort n numbers in ascending format based on following conditions:
1. i<sup>th</sup> number can be exchanged only with i-1<sup>th</sup> position number.
2. Complete operation can be performed in (n(n-1)/2 -1) exchanges.
If both conditions are met print "YES" else print "NO"

## Example
Input: 9 7 1 12 8
Output: YES

Input: 2 1
Output: NO

[2020-10-01 15:42] Raksha25 commented on #2
Java

[2020-10-01 16:09] m-code12 commented on #2
@pratik-choudhari
I would like to take this up in C++.

[2020-10-01 16:23] Utkarshn10 commented on #20
@pratik-choudhari I would like to contribute. I will be using java.

[2020-10-01 16:34] pratik-choudhari opened #22 "Print matrix in spiral format."
# Feature ✅

## Description
Print the matrix input in a spiral format

## Example
Input:
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

Output:
1 2 3 4 8 12 16 15 14 13 9 5 6 7 11 10

__Mention language while requesting for assignment__

[2020-10-01 16:40] therealansh commented on #22
Hey @pratik-choudhari can i work on this one?  I will be using C++. Thanks.

[2020-10-01 16:56] pratik-choudhari opened #23 "Internet speed test"
# Feature ✅

## Description
Create a program to calculate Internet speed.

## Example
Output Upload and Download speeds

__Mention language when requesting assignment__

[2020-10-01 17:13] sparsh9 commented on #23
I would like to handle this issue. I can make one using Python.

[2020-10-01 17:17] amitsat27 commented on #23
i can program it with some gui in python

[2020-10-01 18:13] sauravUppoor opened #27 "Graph Traversal (BFS/DFS)"
# Feature ✅

## Description

You are given an undirected unweighted graph in the form of an adjacency list ([Resource on adjacency list](https://www.hackerearth.com/practice/algorithms/graphs/graph-representation/tutorial/)). Given a starting and ending node number you have to output the number of nodes in the shortest path between the starting and ending node(excluding starting and ending nodes).

[2020-10-01 18:35] SakshiUppoor commented on #27
I'd like to work on this issue using C++ @pratik-choudhari

[2020-10-01 18:44] sauravUppoor opened #31 "K-Combination Generation"
# Feature ✅

## Description

Given 2 numbers N and K and considering you have numbers ranging from 1 to N, print all the subsets of size K.

## Example

**Input -**
5 3

**Output -**
1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

**Mention language while requesting for assignment**
## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects

[2020-10-01 18:53] sauravUppoor opened #32 "Prefix and Suffix Sums"
# Feature ✅

## Description

Given an array of numbers, you have to print the prefix and suffix sums of the array.

## Example

**Input -**
6
1 2 3 4 5 6

**Output -**
Prefix - 1 3 6 10 15 21
Suffix - 21 20 18 15 11 6

**Mention language while requesting for assignment**
## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new

[2020-10-01 18:59] devangmukherjee commented on #32
Can I be assigned this? I can do it using C++

[2020-10-01 18:59] devangmukherjee commented on #32
@pratik-choudhari

[2020-10-01 19:01] devangmukherjee commented on #32
I would like to work on this issue using C++  @pratik-choudhari

[2020-10-01 19:02] devangmukherjee commented on #4
I would like to work on the C++ version of this  @pratik-choudhari

[2020-10-01 19:09] shivam-S-bisht commented on #31
I would like to do this with python. 🙂

[2020-10-01 19:28] tusharnankani opened #34 "scrape all hacktoberfest 2020 events"
# Feature ✅

## Description
The script should scrape all the events from the Hacktoberfest event's website and stores them in a .CSV file.
[LINK](https://hacktoberfest.digitalocean.com/events)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] This issue will be meaningful for the project.
- [X] I w

[2020-10-01 19:32] tusharnankani opened #35 "Build a google search using a python script"
# Feature ✅

## Description
The script should show the top 10/20 google search results.

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] This issue will be meaningful for the project.
- [X] I will contribute more in future

[2020-10-01 19:39] tusharnankani opened #36 "scrape codeforces problem statements"
# Feature ✅

## Description
Build a script to scrape Codeforces problem statements, as per the problem code provided by the user.
Save the result in a text file.

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] This issue will be meaningful for the project.
- [X] I will contribute more in future

[2020-10-01 19:42] tusharnankani opened #37 "build a stock scraper"
# Feature ✅

## Description
Scrape the S&P 500 Companies list from Wikipedia, Yahoo Finance, etc., then output the data.
Get stock prices.
HINT: `yfinance`, `nsepy` libraries in Python.

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] This issue will be meaningful for the project.
- [X] I will con

[2020-10-01 19:42] tusharnankani opened #38 "scrape codechef problem statements"
# Feature ✅

## Description
Build a script to scrape Codechef problem statements, as per the problem code provided by the user.
Scrape the following:
Problem Name, Problem Code, Problem statement, Input, Output, Sample Testcase, Note (usually there, after sample test case)
Save the result in a text file.

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existin

[2020-10-02 02:18] pawki07 commented on #27
Hey, I would like to work on this issue. Please assign it to me.

[2020-10-02 03:59] pratik-choudhari commented on #9
@DevanshD3 assigned for python, @instareasy assigned for java

[2020-10-02 04:06] pratik-choudhari commented on #27
@pawki07 Mention the language as it is written in the issue.

[2020-10-02 04:23] pawki07 commented on #27
@pratik-choudhari I will use C++ language.

[2020-10-02 06:52] 2tanayk commented on #2
hey @pratik-choudhari  can I take this one in C?

[2020-10-02 08:17] Khalleud commented on #4
I would like to make it with python

[2020-10-02 08:38] #4 closed

[2020-10-02 10:12] jyotiGambhir commented on #27
Can you assign this issue to me? I would like to code it in CPP

[2020-10-02 10:24] v-sonawane commented on #35
I am willing to work on this issue. Kindly assign this to me.

[2020-10-02 11:43] pratik-choudhari commented on #27
@jyotiGambhir It has been already assigned for in CPP language, you can take up a different language.

[2020-10-02 11:44] pratik-choudhari commented on #35
@v-sonawane let me know the language

[2020-10-02 11:45] v-sonawane commented on #35
python

[2020-10-02 13:27] ManuGupta9780 commented on #22
Hey @pratik-choudhari  can I work on this Problem? My programming language is C++. Thank You

[2020-10-02 15:55] #35 closed

[2020-10-02 15:56] pratik-choudhari commented on #22
Hey @ManuGupta9780 This issue has already been assigned to @therealansh , maybe you could try some other language or other problem overall.

[2020-10-02 16:10] ManuGupta9780 commented on #22
@pratik-choudhari can work on Java for this problem?

[2020-10-02 16:13] pratik-choudhari opened #48 "Armstrong number"
# Feature ✅

## Description
For a given number n find all armstrong numbers less than n
An Armstrong number is the one whose sum of mth power of every digit in the number is equal to number itself, where m is the length of number

for 371:  3<sup>3</sup> + 7<sup>7</sup> + 1<sup>3</sup> = 371

## Example
Input: 1000
Output: 1, 2, 3, 4, 5, 6, 7, 8, 9, 370, 371, 407

__Mention language while requesti

[2020-10-02 16:13] pratik-choudhari commented on #22
@ManuGupta9780 yup, no problem!

[2020-10-02 16:14] ayu16 commented on #48
please assign this to me...

[2020-10-02 16:15] pratik-choudhari commented on #48
@ayu16 Mention language as it is mentioned in the issue.

[2020-10-02 16:15] ayu16 commented on #48
I can do it in c++ and python
please assign this to me

[2020-10-02 16:15] ayu16 commented on #48
java and c# too

[2020-10-02 16:16] pratik-choudhari commented on #48
@ayu16 Only one language for a problem! Read CODE_OF_CONDUCT

[2020-10-02 16:17] ayu16 commented on #48
I can write in any language mentioned above

[2020-10-02 16:18] pratik-choudhari commented on #48
@ayu16 assigned for python

[2020-10-02 16:19] Anshul275 commented on #48
Assign me for C++

[2020-10-02 16:20] pratik-choudhari commented on #48
@Anshul275 for c++

[2020-10-02 16:23] pratik-choudhari opened #49 "Measures of central tendency"
# Feature ✅

## Description
For a given set of numbers calculate the Mean, Median and Mode

## Example
Input: 8 9 4 6 7 25 44 6 8 15
Output: Mean: 13.2
Median: 8
Mode: 8, 6

__Note: Look out for length of input it affects calculation of median and don't forget to sort the input!__
__Mention your language in comment__

[2020-10-02 16:23] srushtips opened #50 "Selection Sort in Java"
# Feature ✅

## Description

Creating a sorting folder in Java to include sorting algorithms.
## Example

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

[2020-10-02 16:24] srushtips commented on #50
Can this be assigned to me? Thanks!

[2020-10-02 16:24] srushtips commented on #49
Can I work on this? Thank you!

[2020-10-02 16:25] srushtips commented on #49
I will work using Java

[2020-10-02 16:29] pratik-choudhari opened #52 "Let's sort it out v1.0"
# Feature ✅

## Description
The task is to implement:
* Insertion sort
* Selection sort
* bubble sort

## Example
First input will be name of algorithm followed by list of integers in next line.
Input: Selection
1 8 3 9 33 02 0 93 64 22 1 35

Output: sorted list of input

__You are encourage not to copy code from online sources just for the name of open source contribution__

__Mention language in

[2020-10-02 16:31] pratik-choudhari commented on #50
@srushtips Sure, I had just added a similar issue. But in that you had option to switch between sorting algorithms. Nonetheless, go ahead.

[2020-10-02 16:36] AmyWeitzman commented on #52
@pratik-choudhari I'd like to work on this

[2020-10-02 16:38] Awanit512 commented on #52
I would like to do this in C++.

[2020-10-02 16:39] srushtips commented on #50
oh, my bad!

[2020-10-02 16:41] pratik-choudhari opened #53 "número perfecto🕶"
# Feature ✅

## Description
Find all perfect number less than n

a perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself. For instance, 6 has divisors 1, 2 and 3 (excluding itself), and 1 + 2 + 3 = 6, so 6 is a perfect number.

## Example
Input: 500

Output: 6 28 496

__Note: perfect numbers value escalate quickly, checkout the list [he

[2020-10-02 16:49] Blastoise commented on #36
@tusharnankani I will work on this issue so please assign this to me.

[2020-10-02 16:50] pratik-choudhari opened #56 "Measures of dispersion"
# Feature ✅

## Description
Calculate measures of dispersion for given distribution.
Measures of dispersion:
* Range
* Variance
* Standard Deviation

## Example
Input: 238,139,171,234,171,152,170,233,105,260

Output(2 decimal precision):
Range: 155
Variance: 2330.81
Standard deviation: 48.27

__Mention language in comment__

[2020-10-02 16:53] pratik-choudhari commented on #36
@Blastoise This too will go under `Projects` directory

[2020-10-02 16:58] Blastoise commented on #36
Just a query @pratik-choudhari that the by problem statement you mean which of the sections of a problem in codeforces.
Please answer this with precision

[2020-10-02 16:59] pratik-choudhari commented on #36
@tusharnankani Please answer.

[2020-10-02 17:00] tusharnankani commented on #36
Problem Name, Problem Code, Problem statement, Input, Output, Sample Testcase, Note (usually there, after sample test case)

[2020-10-02 17:00] Swarn10 commented on #56
@pratik-choudhari  I would love to contribute to this. Please assign it to me as I believe I can do full justice to it. I can implement the solution in C++ and Python.

[2020-10-02 17:02] pratik-choudhari commented on #56
@Swarn10 Only one language per problem

[2020-10-02 17:03] Blastoise commented on #36
@tusharnankani Thanks!

[2020-10-02 17:13] Swarn10 commented on #56
@pratik-choudhari  Please assign it to me. I will implement the solution in C++. Will be happy to help.

[2020-10-02 17:22] arnabchakraborty97 opened #57 "Maximum Depth of N-ary Tree"
# Feature ✅

## Description
Given a n-ary tree, find its maximum depth.

The maximum depth is the number of nodes along the longest path from the root node down to the farthest leaf node.

Nary-Tree input serialization is represented in their level order traversal, each group of children is separated by the null value.

## Example
Example 1:

![image](https://user-images.githubusercontent.com/3502

[2020-10-02 17:24] arnabchakraborty97 commented on #57
@pratik-choudhari Please check the issue and assign me if possible. Thanks!

[2020-10-02 17:26] pratik-choudhari commented on #57
@arnabchakraborty97 Language?

[2020-10-02 17:32] tejaswini22199 commented on #10
Hey pratik-choudari I want to solve this in C++,Could you please assign it to me?

[2020-10-02 17:32] 2tanayk commented on #48
I've already contributed to a problem in your repo,if you want Im ready to do it in Java @pratik-choudhari  :)

[2020-10-02 17:33] arnabchakraborty97 commented on #57
@pratik-choudhari Python

[2020-10-02 17:39] tejaswini22199 commented on #32
Hey @pratik-choudhari  if this is still open can i code in c++

[2020-10-02 17:42] Ritesh055 opened #58 "Searching Tree Algorithm Codes"
# Feature ✅
Inclusion of searching tree algorithms in the C/C++ codes.

## Description
The search tree methods include Binary Search Tree, AVL Tree, Tries, B Trees, OS Trees, Interval Trees.

## Checklist:

- [ X] I have read the project guidelines.
- [ X] I have checked all the existing projects, before submitting a new project issue.
- [X ] This issue will be meaningful for the project.
- [ X] I

[2020-10-02 17:42] tejaswini22199 commented on #52
I would like to do this in JAVA @pratik-choudhari

[2020-10-02 17:43] snape-here opened #59 "Add Code for LCS of 2 strings"
#Feature ✅

## Description
Code for LCS of 2 strings missing

## Example
Input:
s = "axa"
t = "aa"

Output:
aa

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

[2020-10-02 17:44] sauravUppoor commented on #57
@arnabchakraborty97 Tree given in example 1 isn't abinary tree, is it?

[2020-10-02 17:45] tejaswini22199 commented on #6
Hey @pratik-choudhari  I can do it in JAVA. Pls assign it to me.

[2020-10-02 17:47] tejaswini22199 commented on #59
Hey can I work on this issue?

[2020-10-02 17:49] snape-here commented on #59
I already added C++ solutions to the problem. You can try adding solutions in Different Languages.

[2020-10-02 17:56] tejaswini22199 commented on #10
Thank you @pratik-choudhari

[2020-10-02 17:58] pratik-choudhari commented on #58
@Ritesh055 Could be a little more specific in the issue? Like what will the code do, will all be in a single file and stuff?

[2020-10-02 18:00] arnabchakraborty97 commented on #57
Yes, my mistake with the title.

[2020-10-02 18:04] pratik-choudhari commented on #6
@tejaswini22199 You have already taken up #10 and #32 and one contributor can make max 2 PRs.

[2020-10-02 18:06] #59 closed

[2020-10-02 18:06] jyotiGambhir commented on #27
ok I can code it in Python then

[2020-10-02 18:10] Ritesh055 commented on #58
The code includes different files for each of these searching trees and will attempt to explain the basic functionality of each of these algorithms.
[Searching Trees.docx](https://github.com/pratik-choudhari/AlgoCode/files/5319594/Searching.Trees.docx)

[2020-10-02 18:11] tejaswini22199 commented on #6
Yes Fine . I just mentioned all that I know so that I may be assigned any two.

[2020-10-02 18:25] snape-here opened #66 "Add code for Knapsack Problem"
# Feature ✅

## Description
Knapsack problem (Select items such that the value is maximum but the Weight is within W)

## Example
Input:
3 8
3 30
4 50
5 60

Output:
90

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in fu

[2020-10-02 18:36] #66 closed

[2020-10-02 18:40] codermind-divya commented on #52
Can I work on this in C++?

[2020-10-02 18:41] pratik-choudhari commented on #52
@codermind-divya This code has been assigned to @Awanit512 for C++, you can take up Java.

[2020-10-02 18:44] codermind-divya commented on #52
I am not well-versed with Java. No problem! I'll take up another issue.

[2020-10-02 21:09] albertbolt1 commented on #23
I can do it using django like a webapp

[2020-10-03 02:12] Anshul275 commented on #34
I am up for this. Please assign me this task :)

[2020-10-03 03:11] instareasy commented on #48
yup ! i can work on this in java.

[2020-10-03 04:10] jyotiGambhir commented on #58
Can you assign it to me? I would like to implement search in trie in CPP

[2020-10-03 04:18] statst commented on #6
Can I contribute. Language : Javascript

[2020-10-03 04:20] statst commented on #10
Can I contribute. Language: Javascript

[2020-10-03 04:52] Mayank662 commented on #6
Hi @pratik-choudhari I would like to work on this issue in Python.

[2020-10-03 05:29] #50 closed

[2020-10-03 05:38] #32 closed

[2020-10-03 05:39] pratik-choudhari commented on #23
@albertbolt1 Sure! Place it under `Projects` directory

[2020-10-03 05:41] pratik-choudhari commented on #58
@jyotiGambhir @Ritesh055 has made PR for the same.

[2020-10-03 05:41] #58 closed

[2020-10-03 05:42] pratik-choudhari commented on #6
@Mayank662 @statst Please follow directory structure as per CODE_OF_CONDUCT

[2020-10-03 05:43] pratik-choudhari commented on #34
@Anshul275 Mention the language

[2020-10-03 05:44] pratik-choudhari commented on #10
@statst You are up!

[2020-10-03 05:46] Anshul275 commented on #34
Python

[2020-10-03 08:59] Ritesh055 opened #75 "Sorting Algorithms in C++"
# Feature ✅
I wish to add a seperate file for each sorting method

## Description
This includes Bubble Sort, Selection Sort, Insertion Sort, Shell Sort, Merge Sort

## Checklist:

- [ X] I have read the project guidelines.
- [ X] I have checked all the existing projects, before submitting a new project issue.
- [ X] This issue will be meaningful for the project.
- [ X] I will contribute more in fu

[2020-10-03 09:31] #6 closed

[2020-10-03 10:06] 2tanayk commented on #48
I have the Java code for it ,if you want I can PR @pratik-choudhari ,sorry I was a bit busy with my college work since tests are nearby :(

[2020-10-03 10:16] 2tanayk commented on #53
If you want I can work on this using Java or C (I prefer Java ) ,assign me if possible

[2020-10-03 10:53] pratik-choudhari commented on #48
@2tanayk No issues. You can PR now.

[2020-10-03 10:55] pratik-choudhari commented on #53
@2tanayk A contributor can PR for max 2 problems.

[2020-10-03 11:05] pratik-choudhari opened #80 "To-do app🧾"
# Feature ✅

## Description
Build a to-do app with a web interface in either Js or python

## Example
User must be able to add tasks in the web interface and If a task is done mark it as done(dim the text or strike the text)
For this task it is mandatory to add the screenshot of resultant website with all possible cases inside README file.

__Contributors are supposed to mention their coding langu

[2020-10-03 11:07] manasivaraiya commented on #80
I'd like to contribute to this in javascript

[2020-10-03 11:15] pratik-choudhari opened #82 "Mini photo editor🖼"
# Feature ✅

## Description
A program to perform following operations on an input image:
* Enhance Sharpness
* Enhance Colour
* Blur
* Resize
* Black and white filter
* Sepia filter

## Example
The program must be menu driven at least. GUI or a Web interface would be excellent👏

__This contribution will go under `Projects` folder.__
__Contributors are supposed to mention their coding language whil

[2020-10-03 11:20] ayu16 commented on #75
can I please be assigned to this task I can do it in python

[2020-10-03 11:21] comrade-om commented on #7
Hi, I would be happy to build a calculator in javascript (Node.js)! Shall I start working on it?

[2020-10-03 11:23] pratik-choudhari commented on #7
@comrade-om Sure! Start working on it 🙌

[2020-10-03 11:30] ShivamYadav-Coding commented on #80
I would like to work on it.
Here is my Todo List. And i will also like to improve it further.
![Screenshot (13)](https://user-images.githubusercontent.com/59358990/94990447-d533a980-0599-11eb-932e-f84c5d0d3593.jpg)
![Screenshot (14)](https://user-images.githubusercontent.com/59358990/94990448-d664d680-0599-11eb-8d85-0e5377654c94.jpg)
![Screenshot (11)](https://user-images.githubusercontent.com/593

[2020-10-03 11:32] 2tanayk commented on #53
I have contributed to 1,the regenerating min. Array one,so the other one was Armstrong no but it got closed right?

[2020-10-03 11:34] 2tanayk commented on #53
Ok sorry,it was re-opened didn't see ty👍✌️

[2020-10-03 11:59] ShivamYadav-Coding opened #83 "Weather App"
I would like to add my project of **weather App**.

## Description
Currently it looks like this :-
![Screenshot (15)](https://user-images.githubusercontent.com/59358990/94990897-e92cda80-059c-11eb-99e6-3968a6930cc1.jpg)
![Screenshot (16)](https://user-images.githubusercontent.com/59358990/94990898-ea5e0780-059c-11eb-9028-29084a7e021e.jpg)

**After adding this project i will work on it and improve

[2020-10-03 12:00] ShivamYadav-Coding commented on #83
@pratik-choudhari Could i work on this?

[2020-10-03 12:27] kalpita01 commented on #75
Can i try working on this issue? My programming language would be c++

[2020-10-03 12:50] pratik-choudhari commented on #80
@manasivaraiya You are up, @ShivamYadav-Coding which language have you used?

[2020-10-03 12:51] pratik-choudhari commented on #83
@ShivamYadav-Coding Done.

[2020-10-03 12:51] pratik-choudhari commented on #83
@ShivamYadav-Coding Let me know the language

[2020-10-03 12:52] #2 closed

[2020-10-03 13:00] pratik-choudhari opened #86 "⚠Attention Contributors!- Mandatory to read once⚡"
1. There have been cases where people have made a PR even before creating an Issue, which is not acceptable.
2. Even if you have created an issue then you must ask for assignment and not immediately make a PR citing the issue, that is illegal.

If any more cases like those above are found, the PR will be tagged `invalid` or `spam` thus it will not be considered valid for Hacktoberfest 2020. Let us

[2020-10-03 13:32] ShivamYadav-Coding commented on #83
Main language is JavaScript.

[2020-10-03 13:53] kartickgupta commented on #75
Hey @Ritesh055  ! Can I also work over this ?

[2020-10-03 13:55] Ritesh055 commented on #75
@kartickgupta I don't assign the issue. @pratik-choudhari will do that.

[2020-10-03 14:10] kartickgupta commented on #75
Okay !!!

[2020-10-03 14:11] kartickgupta commented on #75
@pratik-choudhari can you please assign me this, I'll do it in C++ ?

[2020-10-03 14:22] ayu16 commented on #75
I created a separate file for each sort in python...

[2020-10-03 14:35] Anshul275 commented on #34
@pratik-choudhari
Where to upload - in python directory or projects directory??
I am also attaching the generated csv file and screenshot of generated csv file.

[2020-10-03 15:33] ShivamYadav-Coding commented on #83
Projected is submitted.
Pull request : #92
I will make good UI changes soon.

[2020-10-03 16:06] pratik-choudhari commented on #75
@kartickgupta @kalpita01 is already assigned for C++, if you wish to do you are free to do so. The first c++ PR will be merged.

[2020-10-03 16:11] pratik-choudhari commented on #34
@Anshul275 Place it under `Projects` and do not attach the CSV file it will increase the size of repo. A screenshot is enough!

[2020-10-03 16:15] #49 closed

[2020-10-03 16:18] pratik-choudhari commented on #83
@ShivamYadav-Coding Your work is commendable,

[2020-10-03 16:28] amitsat27 commented on #23
@pratik-choudhari Please use "hacktoberfest" label to participate instead of "Hacktoberfest" it is written on profile page

[2020-10-03 16:29] ShivamYadav-Coding commented on #83
Thank you very much :)

[2020-10-03 16:33] ShivamYadav-Coding commented on #80
I used Javascript in it.

[2020-10-03 16:42] comrade-om commented on #7
Hi again, I have been observing this repo for a while, since nobody has added a calculator in C++ yet, shall I contribute the same @pratik-choudhari ?

[2020-10-03 16:43] pratik-choudhari commented on #83
@ShivamYadav-Coding I have received github security warnings about the version of package used in the project. Check them out in security and update ASAP.

[2020-10-03 16:44] pratik-choudhari commented on #80
@manasivaraiya Has already been assigned for javascript, you can check after a few days.

[2020-10-03 16:45] #34 closed

[2020-10-03 16:46] pratik-choudhari commented on #7
@comrade-om A contributor can contribute only once to a problem. You can try issues.

[2020-10-03 16:49] comrade-om commented on #7
Alright thanks :smile:

[2020-10-03 17:04] ReyhanSara commented on #5
Hi there! Can I work on this using Java?

[2020-10-03 17:08] pratik-choudhari commented on #5
Yes, sure!

[2020-10-03 17:24] pratik-choudhari opened #94 "Let's sort it out v2.0"
# Feature ✅

## Description
The task is to implement:
* Merge sort
* Shell sort
* Radix sort

## Example
First input will be name of algorithm followed by list of integers in next line.
Input: Shell
1 8 3 9 33 02 0 93 64 22 1 35

Output: sorted list of input

__You are encourage not to copy code from online sources just for the name of open source contribution__

__Mention language in comments__

[2020-10-03 17:26] kartickgupta commented on #94
Merge Sort and Radix Sort in C++, Will it work @pratik-choudhari  ?

[2020-10-03 17:27] ShivamYadav-Coding commented on #80
Sure!

[2020-10-03 17:29] ShivamYadav-Coding commented on #83
ok i will fix it as soon as possible.

[2020-10-03 17:31] pratik-choudhari opened #95 "Complex numbers"
# Feature ✅

## Description
A program to perform the following with two complex numbers A, B:
* addition, A + B
* subtraction, A- B
* multiplication, A * B
* division, A / B
* mod(A)
* mod(B)

## Example
First input will be 1st number with real and imaginary part similarly second number.

Input:
2 1
5 6

Output:
7.00+7.00i
-3.00-5.00i
4.00+17.00i
0.26-0.11i
2.24+0.00i
7.81+0.00i

__You are encoura

[2020-10-03 17:32] kartickgupta commented on #95
@pratik-choudhari  Please, assign me in C++!!

[2020-10-03 17:38] pratik-choudhari opened #96 "Valid credit card number"
# Feature ✅

## Description
Find if entered credit card number is valid number.
Conditions for a valid credit card number:
► It must start with a 4, 5 or 6.
► It must contain exactly 16 digits.
► It must only consist of digits (0-9).
► It may have digits in groups of 4, separated by one hyphen "-".
► It must NOT use any other separator like ' ' , '_', etc.
► It must NOT have 4 or more consecutive

[2020-10-03 17:38] Ace117MC commented on #95
Please assign this to me in python

[2020-10-03 17:40] ronanren commented on #96
can i assigned to this task ? and what's language what your want ?

[2020-10-03 17:42] pratik-choudhari commented on #96
@ronanren Java, py, c/c++, js

[2020-10-03 17:42] comrade-om commented on #96
I would be glad to work on this in javascript @pratik-choudhari

[2020-10-03 17:42] Diegoslourenco commented on #96
Can I solve this in py?

[2020-10-03 17:42] ronanren commented on #96
I can do it in js and cs.

[2020-10-03 17:49] XoMute commented on #96
I will do it in java @pratik-choudhari

[2020-10-03 17:56] zatch3301 opened #98 "Face detection using cascade classifier"
# Feature ✅
# Bug 🐞
# Documentation 📑

## Description

## Example

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] This issue will be meaningful for the project.
- [ ] I will contribute more in future

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-03 17:56] #98 closed

[2020-10-03 18:29] Skr-suyash commented on #82
Can I work on this issue. I will work in HTML, CSS and Javascript and create an ImageEditor website.

[2020-10-03 18:31] pratik-choudhari opened #104 "Identify floating point numbers"
# Feature ✅

## Description
Identify floating point numbers.

## Example
Input: +4.00
Output: Yes

Input: +-5.00
Output: No

Input: -.7
Output: Yes

Input: 12.
Output: No

Input: 12.o0
Output: No

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-03 18:40] pratik-choudhari opened #105 "Tag parser"
# Feature ✅

## Description
Given a set of tagged strings, output the tag contents.

## Example
First line signifies number of input lines
Input: 4
<h1>This is a heading</h1>
<This_tag_doesnot_exist>Hello</This_tag_doesnot_exist>
<apple>Technology is growing</apple>
<user>Archit</user>

Output:
This is a heading
Hello
Technology is growing
Archit

__Contributors are supposed to mention their codin

[2020-10-03 18:45] pratik-choudhari opened #106 "IP validation using Regex"
# Feature ✅

## Description
Identify valid IP address using the power of regex.
`IP address is a string in the form "A.B.C.D", where the value of A, B, C, and D may range from 0 to 255. Leading zeros are allowed. The length of A, B, C, or D can't be greater than 3.`

## Example
First line is number of test cases.
Input:
6
000.12.12.034
121.234.12.12
23.45.12.56
00.12.123.123123.123
122.23
Hello.IP

[2020-10-03 18:47] naman-150200 commented on #95
please assign this to me in c++

[2020-10-03 18:47] megabyte98 commented on #106
can you please assign this issue to me I would like to implement this using python

[2020-10-03 19:08] statst commented on #106
Can I contribute. Language: Javascript

[2020-10-03 19:31] shashankseth01 commented on #104
I will give the solution in c++

[2020-10-03 19:35] barrotsteindev commented on #96
I can do it in c++

[2020-10-03 19:49] verma-pulkit commented on #94
I would like to contribute for CPP.

[2020-10-04 00:43] Grasstown commented on #106
Can I contribute to this by implementing a Java solution?

[2020-10-04 04:58] pratik-choudhari commented on #96
@comrade-om Javascript
@Diegoslourenco Python
@ronanren C
@XoMute Java
@barrotsteindev c++

[2020-10-04 04:58] #96 closed

[2020-10-04 05:02] pratik-choudhari commented on #82
@Skr-suyash Place everything under `Projects` folder.

[2020-10-04 05:12] pratik-choudhari commented on #94
@verma-pulkit It's already assigned for c++, can you use another language?

[2020-10-04 05:21] pratik-choudhari opened #114 "⚠Attention Contributors!- Mandatory to read once⚡"
1. There have been cases where people have made a PR even before creating an Issue, which is not acceptable.
2. Even if you have created an issue then you must ask for assignment and not immediately make a PR citing the issue, that is illegal.

If any more cases like those above are found, the PR will be tagged `invalid` or `spam` thus it will not be considered valid for Hacktoberfest 2020⚠. Let u

[2020-10-04 05:21] #86 closed

[2020-10-04 06:01] shash29999 commented on #95
@pratik-choudhari , pls assign me JAVA

[2020-10-04 06:04] shash29999 commented on #94
@pratik-choudhari pls assign me in JAVA.

[2020-10-04 06:40] Swarn10 opened #116 "Sudoku solver program"
# Feature ✅
**Python sudoku solver**
## Description

**A python program to solve a Sudoku board provided by the user as input. If the board is valid it solves the board and displays the final solution, else it raises an error message that the input was invalid.**

## Example

**Input :-**
![input](https://user-images.githubusercontent.com/54739905/95008708-dddbbc80-0639-11eb-94df-d6b3fc507c91.JPG)

[2020-10-04 06:41] Swarn10 commented on #116
@pratik-choudhari I want to contribute this to the repository. The programming language would be Python. Please assign it to me. Will be happy to help.

[2020-10-04 07:01] pallavivaswani commented on #7
Hey @pratik-choudhari, Can I contribute to this?
I can provide a GUI for simple + scientific calculator in Python

[2020-10-04 07:02] pratik-choudhari commented on #7
Sure! Start working on it 🙌

[2020-10-04 07:32] pratik-choudhari commented on #116
@Swarn10 That's a great project. Place it under `Projects`

[2020-10-04 07:37] pratik-choudhari opened #118 "Closest 9's and 0's multiple"
# Feature ✅

## Description
The problem is to find the least positive multiple of input number n. The multiple must only be made up of 9's and 0's, no other digit is allowed.

## Example
First line is number of test cases.
Input:
2
3
7

Output:
90
9009

__Challenge here is to figure out a way efficient than a brute force approach, dividing every number by n__
__Contributors are supposed to mention

[2020-10-04 07:46] pratik-choudhari opened #119 "Sum of a sequence"
# Feature ✅

## Description
Find the sum of all numbers in a sequence, where n<sup>th</sup> term is defined as:
__T<sub>n</sub> = n<sup>2</sup> - (n - 1)<sup>2</sup>__

## Example
First line defines number of terms in sequence.
Output the sequence and sum.
Input: 3

Output:
Sequence: 1 3 5
Sum: 9

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-04 07:48] SHARC-99 commented on #118
please assign this work to me!!

[2020-10-04 07:56] Siddhant-K-code opened #120 "Searching Algorithms"
# Feature ✅

## Description
Searching Algorithms:
- [ ] Binary Search
- [ ] Fibonacci Search
- [ ] Linear Search
- [ ] Ternary Search
- [ ] Median Search

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

[2020-10-04 08:00] VamsiMudaliar commented on #119
**i would like to code in c++**

[2020-10-04 08:01] silentwraith6 commented on #119
i would like to code it in javascript

[2020-10-04 08:02] deepjyot commented on #119
I would like to code in python

[2020-10-04 08:02] amanraj862 commented on #119
i would like to code in java and also give a try in python

[2020-10-04 08:02] pratik-choudhari commented on #118
@SHARC-99 Please mention the language

[2020-10-04 08:03] pratik-choudhari commented on #118
@SHARC-99 Please mention the language

[2020-10-04 08:13] amanraj862 commented on #48
hey i can code this in java please assign me this

[2020-10-04 08:23] silentwraith6 commented on #120
i want to go for linear search

[2020-10-04 08:56] amanraj862 commented on #119
Do i have to add a ReadMe too?

[2020-10-04 09:32] TechnoPhasePRO commented on #104
@pratik-choudhari  i would like to do this in python. please assign this to me.

[2020-10-04 09:35] dhrubajyoti89 commented on #120
I want to contribute with binary search in C++

[2020-10-04 09:36] dhrubajyoti89 commented on #119
Can i contribute for C++?

[2020-10-04 09:38] dhrubajyoti89 commented on #52
Can i work with java? @pratik-choudhari

[2020-10-04 10:21] comrade-om commented on #96
Please review my PR @pratik-choudhari :pray:

[2020-10-04 10:25] jayaganeshkumar commented on #119
Can I solve it in C++?

[2020-10-04 10:46] Yashika25 commented on #120
Please assign this issue. I can do using C++ or Java.

[2020-10-04 10:52] Yashika25 commented on #119
I can do this using C++ or Java. Please assign it to me so that I can start working on it.

[2020-10-04 11:00] Ishaan-0098 commented on #48
Please assign this to me , my awesomeness will be presented in python

[2020-10-04 11:04] Ishaan-0098 commented on #80
hi, please assign this task to me i can develop a python code for the UI and the functionality of the windows application

[2020-10-04 11:44] AlessandroArosio commented on #106
Can I contribute in Java?

[2020-10-04 12:12] #119 closed

[2020-10-04 12:14] #82 closed

[2020-10-04 12:17] pratik-choudhari commented on #120
@silentwraith6 @dhrubajyoti89 @Yashika25 All 5 need to be done by a contributor.

[2020-10-04 12:19] pratik-choudhari commented on #48
@Ishaan-0098 @amanraj862 Java and Python have already been assigned.

[2020-10-04 12:23] pratik-choudhari commented on #106
@AlessandroArosio Java has been assigned. Want to try in Go?

[2020-10-04 12:25] #104 closed

[2020-10-04 12:29] kinshukdua commented on #95
@pratik-choudhari kindly assign this issue to me in Javascript

[2020-10-04 12:34] dhrubajyoti89 commented on #120
assign me for C++ @pratik-choudhari

[2020-10-04 12:38] Yashika25 commented on #120
Yes I can do all 5 please assign me for C++/Java/C.

[2020-10-04 12:50] mepallabiroy opened #128 "Rotate array by D elements"
#Feature ✅

## Description
Write a code to reverse the array by D elements clockwise.

## Example
1. Input: Array - 1 2 3
          D = 1
Output: 2 3 1

2. Input: Array - 5 8 9 4 2
          D = 3
Output: 4 2 5 8 9

## Checklist:

-  ✅ I have read the project guidelines.
-  ✅ I have checked all the existing projects, before submitting a new project issue.
-  ✅ This issue will be meaningful for the

[2020-10-04 12:53] mepallabiroy commented on #128
Please assign me this issue. I can solve this using Python.

[2020-10-04 12:54] AlessandroArosio commented on #106
Yeah why not, I can give it a "go" (no pun intended)

[2020-10-04 13:01] AlexNorth-PNG commented on #118
@pratik-choudhari I would like to work on this using Java

[2020-10-04 13:06] dhrubajyoti89 commented on #128
I can solve this using C++ @pratik-choudhari

[2020-10-04 13:14] Skr-suyash commented on #37
Please edit your question to be more precise. Do we need to show the stock prices of all 500 Companies as it would be huge. Also what format the data should be - a DataFrame or txt file output.

[2020-10-04 13:17] AlessandroArosio commented on #106
Hi @pratik-choudhari ,

I'm about to create a pull request. Can you assign me the issue please? :)

[2020-10-04 13:29] tusharnankani commented on #37
Build a simple web scraper that collects information about the 500 companies listed in the S&P index. Load it into a .csv file.

[2020-10-04 13:35] AlessandroArosio commented on #128
Can I solve this in Java please? If java is taken already, I'll try GoLang (or both for two PRs)

[2020-10-04 14:00] SHARC-99 commented on #118
Cpp

[2020-10-04 14:17] shivambachhety commented on #118
Python

[2020-10-04 15:45] codermind-divya commented on #128
Can I work on this in C++?

[2020-10-04 15:48] codermind-divya commented on #3
Can I work on this in C++?

[2020-10-04 15:54] TechnoPhasePRO commented on #104
@pratik-choudhari Sir, please check & merge the pull request.

[2020-10-04 16:49] pratik-choudhari commented on #120
@Yashika25 for java

[2020-10-04 17:03] pratik-choudhari commented on #128
@AlessandroArosio Up for Java.
@codermind-divya On FCFS basis @dhrubajyoti89 has been assigned.

[2020-10-04 17:04] pratik-choudhari commented on #3
@codermind-divya @vedanthv has already made the contribution in c++.

[2020-10-04 17:07] ShivamYadav-Coding commented on #83
Just made some UI changes to weather app and also deployed the app to heroku so that anyone could visit it. Please give it a look.
Pull Request : #140

[2020-10-04 17:09] pratik-choudhari commented on #83
@ShivamYadav-Coding Loved it!

[2020-10-04 17:18] pratik-choudhari opened #141 "Giving back🤝"
__Since the day this repository is up, 80% of the questions have been put up by me.__

__It gets difficult for a maintainer to manage the PRs, solve github doubts and do daily chores. So I request you to contribute not only the solutions but also the questions.__

__The type of questions being asked can be seen in the issues, feel free to experiment. Appreciate everyone who helps, thanks✌__

[2020-10-04 17:19] VamsiMudaliar commented on #116
Can i write it in python Console application with backtracking ?

[2020-10-04 17:20] pratik-choudhari commented on #116
@Swarn10 PR is a terminal based too

[2020-10-04 17:29] VamsiMudaliar commented on #119
Sir, i have my c++ code ready can i do a pr
Please assign me this task.. i unknowingly removed assignment
Thank you !

[2020-10-04 17:36] VamsiMudaliar commented on #120
Please Assign me C++ @pratik-choudhari  , I can do all

[2020-10-04 17:38] ShivamYadav-Coding commented on #141
Sure!

[2020-10-04 17:40] amanraj862 commented on #48
okay

[2020-10-04 17:54] ShivamYadav-Coding opened #145 "Program to check for balanced parenthesis using stack"
# Feature ✅

## Description
  Program to check for balanced parentheses in an expression using stack.
  Given an expression as string comprising of opening and closing characters
  of parentheses - (), curly braces - {} and square brackets - [], we need to
  check whether symbols are balanced or not.

## Example
Input: exp = “[()]{}{[()()]()}”
Output: Balanced

Input: exp = “[(])”
Output: Not Bala

[2020-10-04 17:59] dhrubajyoti89 commented on #120
i am working with c++ and will be making pr soon @VamsiMudaliar

[2020-10-04 18:09] ShivamYadav-Coding opened #147 "Generate all binary strings from given pattern"
# Feature ✅

## Description
Given a string containing of ‘0’, ‘1’ and ‘?’ wildcard characters, generate all binary strings that can be formed by replacing each wildcard character by ‘0’ or ‘1’.

## Example
Input str = "1??0?101"
Output:
        10000101
        10001101
        10100101
        10101101
        11000101
        11001101
        11100101
        11101101

## Checklist:

- [x] I hav

[2020-10-04 18:10] Swarn10 commented on #116
@pratik-choudhari The program is supposed to be a terminal one only. I think I made a mistake by adding under the `Projects` directory. Should I add the program under the `Python` directory ?

[2020-10-04 18:26] ShivamYadav-Coding opened #149 "Remove large spaces between string."
# Feature ✅

## Description
Given a string of words with lots of spaces between the words , remove all the unnecessary spaces.

## Example
input:  I______live_____on_____earth

// Underscore( _ ) here are actually white spaces i used underscore to reprensent white space because Github is also omitting
// the extra spaces between the input string mentioned above ;) Just seen real world example of t

[2020-10-04 18:32] AlexNorth-PNG commented on #56
I would like to work on this problem using Java

[2020-10-04 20:01] TechnoPhasePRO commented on #104
@pratik-choudhari sir, i have created another directory in python folder. Please check it out & merge the pull request.

[2020-10-05 07:34] Skr-suyash commented on #37
I would like to work on this in Python. Please assign this to me.

[2020-10-05 10:37] pratik-choudhari commented on #116
@Swarn10 no its fine

[2020-10-05 10:43] #31 closed

[2020-10-05 10:47] #128 closed

[2020-10-05 10:48] Swarn10 commented on #116
@pratik-choudhari Let me clarify this that the program that I have added is just a normal Python program that solves the sudoku problem using backtracking. It is not like an application written in Python. So where should I add the program, under `Python` or `Projects` directory?

[2020-10-05 10:49] #120 closed

[2020-10-05 10:50] Raghavarora27 opened #159 "I have a better calculator in python"
I have made a calculator which is used to do simple as well as trigometric calculations like sin , cos etc as well....
I am making the pull request of my code.....thanks!!

[2020-10-05 10:51] pratik-choudhari commented on #116
Yes @Swarn10 I got it after seeing your PR. Put it under `Projects` add _cli to the project folder name, so one can distinguish between cli and gui

[2020-10-05 10:53] Swarn10 commented on #116
@pratik-choudhari Ok. Sure. I got it.

[2020-10-05 10:53] pratik-choudhari commented on #159
@Raghavarora27 I am closing this issue. Head over to [this](https://github.com/pratik-choudhari/AlgoCode/issues/7) thread and discuss there.

[2020-10-05 10:53] #159 closed

[2020-10-05 11:06] pratik-choudhari opened #161 "Verify dataset"
Post dataset name below __only after checking it does not exist in `EDA` dir__

[2020-10-05 11:07] VamsiMudaliar commented on #147
Sir, I would like to contribute in c++

[2020-10-05 11:07] pratik-choudhari opened #162 "Calling out for Data science people!💻📈"
# Current situation
As of now this repository has been accepting contributions for solving coding problems. Which is going pretty good.

# So now what?
Now we are accepting contributions for some beautiful and insightful EDAs on dataset of your choice. Yes! a dataset of your choice.
The rules for EDA contribution:
* Jupyter notebook must go inside `EDA/<your-dataset-name>`
* It is possible to 2 pe

[2020-10-05 11:24] VamsiMudaliar commented on #149
I would like to Code this in C++ too..

[2020-10-05 11:31] VamsiMudaliar commented on #145
Sir, I would like to code this in C++.
Please assign ..
Thank you!

[2020-10-05 11:55] shivangigoel1302 commented on #149
Can you assign me this . I can code it in C++

[2020-10-05 11:55] shivangigoel1302 commented on #145
Can I contribute to this. I can code it in C++

[2020-10-05 12:06] TechnoPhasePRO commented on #104
@pratik-choudhari sir, i have created this new PR #164 and renamed the file of python and included readme file. Please merge the PR and provide labels to it.

[2020-10-05 12:25] pratik-choudhari commented on #149
@shivangigoel1302 want to try other language?

[2020-10-05 12:31] pratik-choudhari opened #165 "Did any EDA in R?"
If you have done any EDA in __R language__, you can contribute to this repository.
[Learning-R](https://github.com/pratik-choudhari/Learning-R) all instructions in README🎉

[2020-10-05 12:39] pratik-choudhari opened #166 "Compress the string"
# Feature ✅

## Description
Compress the elements of a string by calculating number of repetitions for every character

## Example
Input: 1222311
Output: (1, 1) (3, 2) (1, 3) (2, 1)

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-05 12:40] waridrox commented on #166
Would love to contribute towards the solution in C++ language !

[2020-10-05 12:45] kishanpatel22 commented on #166
Hey can I work on this issue can you assign it to me ? I would love to contribute.

[2020-10-05 12:46] Nikhil-1503 commented on #166
I would like to solve this in c++.

[2020-10-05 12:46] pratik-choudhari opened #167 "Word game"
# Feature ✅

## Description
For each input word find its occurrence.

## Example
First line is number of test cases.
In output first print number of distinct words followed by word occurrence.
Input:
4
bcdef
abcdefg
bcde
bcdef

Output:
3
2 1 1

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-05 12:47] pratik-choudhari commented on #166
@kishanpatel22 Language?

[2020-10-05 12:48] Ace117MC commented on #166
can i code in python

[2020-10-05 12:49] kishanpatel22 commented on #166
@pratik-choudhari I would code in python

[2020-10-05 12:54] Ace117MC commented on #167
can i do this in c++ ?

[2020-10-05 12:55] vanya-24 commented on #167
Please assign this to me! @pratik-choudhari

[2020-10-05 13:00] shubha028 commented on #167
Can I do in java as a part of hactoberfest?

[2020-10-05 13:00] VamsiMudaliar commented on #167
I'd like to do this in C++ too. @pratik-choudhari

[2020-10-05 13:02] nikhil05-code commented on #167
I would like to do in python. Please assign it to me.

[2020-10-05 14:04] #37 closed

[2020-10-05 14:10] ShivamYadav-Coding commented on #83
Hello i just implemented feature to pin weather for a location in weather app
Pull request : #171

[2020-10-05 14:37] pratik-choudhari commented on #167
@vanya-24 Language?

[2020-10-05 14:58] vanya-24 commented on #167
I can do in C++,C,Python! @pratik-choudhari

[2020-10-05 16:20] pratik-choudhari commented on #167
@vanya-24 c++
@shubha028 java
@nikhil05-code python

[2020-10-05 16:24] pratik-choudhari opened #175 "Infix to postfix conversion"
# Feature ✅

## Description
Conversion input infix equation to postfix expression

## Example
Input: (a / b + c) - ( d + e * f)

Output:
Original: (a / b + c) - ( d + e * f)
Postfix:  -+/abc+d*ef

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-05 16:26] aayushi02agarwal commented on #175
I wanna do it in cpp. Please assign it to me.

[2020-10-05 16:30] pratik-choudhari opened #176 "Min. triangle height"
# Feature ✅

## Description
Given base b and a of a triangle as integers, find minimum integer height

## Example
Input format -> base followed by area
Input: 17 100
Output: 12

Input: 2 2
Output: 2

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-05 16:37] pratik-choudhari opened #178 "Charlie's Prime factors"
# Feature ✅

## Description
For a given number n, find the maximum number of distinct prime factors for numbers in range [1,n]

## Example
Input: 100
Output: 3
Explanation: 30, 42 has 3 prime factors, no other number has more than 3 distinct prime factors in range [1, 100]

__Contributors are supposed to mention their coding language while asking for assignment__
__Charlie's doesn't mean anything,

[2020-10-05 16:43] pratik-choudhari opened #179 "Is in fibonacci?"
# Feature ✅

## Description
Given integer  n, find if it is a part of fibonacci series.

## Example
Input: 3 #no of test cases
5
7
8

Output:
True
False
True

__⚠Expect number to go in thousands__
__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-05 16:47] akhilakonam commented on #176
Hi pratik, can I solve this in C++?

[2020-10-05 17:14] VamsiMudaliar commented on #179
@pratik-choudhari  Please assign this to me i would like to code in C++

[2020-10-05 17:15] VamsiMudaliar commented on #178
Sir, I would love to contribute to this in C++

[2020-10-05 17:21] c0d1ng-Devta commented on #176
Hi Pratik, I had solved this question in python. Is my code correct?

[2020-10-05 17:22] VamsiMudaliar commented on #176
I would like to do this in javascript

[2020-10-05 17:28] akhilakonam commented on #176
Hi pratik, can you please accept my PR 👍

[2020-10-05 17:36] c0d1ng-Devta commented on #176
Yes, please mine also.

[2020-10-05 17:53] ryanvarghese commented on #179
Hey @pratik-choudhari , I would love to work on this. Please assign this to me. I'll be using Python.

[2020-10-05 17:54] DiSousaDev commented on #179
Please assign this to me i would like to code in Java

[2020-10-05 18:14] pratik-choudhari commented on #179
@VamsiMudaliar you are already assigned to 2 issues which is max limit for a contributor.

[2020-10-05 18:15] pratik-choudhari commented on #179
@ryanvarghese python and @DiSousaDev java, you are up for respective languages.

[2020-10-05 18:32] Mrsterius commented on #162
Hi Pratik,
I would like to add the EDA for Boston Housing dataset. Can I work on this?

[2020-10-05 18:38] ryanvarghese commented on #179
Okay will do it

[2020-10-05 18:45] TheYM commented on #179
@pratik-choudhari I would like to go for this issue with C++

[2020-10-05 21:26] statst commented on #145
Can I contribute? Tech stack: Javascript.

[2020-10-05 22:07] shubhamnag14 commented on #178
could you please assign me this issue?? i would like to do the tasķ

[2020-10-06 03:32] silentShooter opened #190 "The Celebrity Problem"
# Feature ✅

## Description
In a party of N people, only one person is known to everyone. Such a person may be present in the party, if yes, (s)he doesn’t know anyone in the party. We can only ask questions like “does A know B? “. Find the stranger (celebrity) in the minimum number of questions.

We can describe the problem input as an array of numbers/characters representing persons in the party.

[2020-10-06 03:39] ShivamYadav-Coding opened #191 "Inplace rotate square matrix by 90 degrees"
# Feature ✅

## Description
Given a square matrix, turn it by 90 degrees in anti-clockwise direction without using any extra space.

## Example

Input:
Matrix:
 1  2  3
 4  5  6
 7  8  9
Output:
 3  6  9
 2  5  8
 1  4  7
The given matrix is rotated by 90 degree
in anti-clockwise direction.

Input:
 1  2  3  4
 5  6  7  8
 9 10 11 12
13 14 15 16
Output:
 4  8 12 16
 3  7 11 15
 2  6 10 14
 1  5  9

[2020-10-06 05:53] vaishnavirshah commented on #175
I want do this in CPP as well, please assign it to me.

[2020-10-06 06:16] pratik-choudhari commented on #162
@Mrsterius Yes

[2020-10-06 06:20] pratik-choudhari commented on #145
@VamsiMudaliar and @statst A contributor can make max 2 contributions post this mark there will be no assigned, you can only contribute questions. @shivam-S-bisht You are up for C++

[2020-10-06 06:30] pratik-choudhari opened #193 "⚠Attention Contributors!- Mandatory to read once⚡"
1. There have been cases where people have made a PR even before creating an Issue, which is not acceptable.
2. Even if you have created an issue then you must ask for assignment and not immediately make a PR citing the issue, that is illegal.

If any more cases like those above are found, the PR will be tagged `invalid` or `spam` thus it will not be considered valid for Hacktoberfest 2020. Let us

[2020-10-06 06:31] shivam-S-bisht commented on #145
should i need to contribute to any C++ label issue? Sorry I dint get you @pratik-choudhari

[2020-10-06 06:32] shivam-S-bisht commented on #145
Or should I make a new issue to C++?

[2020-10-06 06:33] pratik-choudhari commented on #145
@shivam-S-bisht The labels are to keep a track of what languages have been assigned to people. Not that it requires attention for that language.

[2020-10-06 06:35] shivam-S-bisht commented on #145
Yes sure, but did I do something wrong? What I have to do now?

[2020-10-06 06:36] pratik-choudhari commented on #145
That warning was not for you shivam, now you need to create the cpp file and readme put it in apt folder and make a PR.

[2020-10-06 06:56] Skr-suyash opened #194 "File Organizer Script"
# Feature ✅

## Description
Create a File Organizer Script in Python which when run in a folder will take its various files like txt, xlxs, mp3, jpeg into various folders like Documents, Images, Videos, Music, Executables etc. and ignore rest of the folders. This can be achieved using Python's os module

## Example
.txt, .xlxs, .docx will be moved to Documents Directory (create this directory). .j

[2020-10-06 07:03] shivangigoel1302 commented on #145
I have added the C++ code. Do check PR #195 Thanks

[2020-10-06 07:31] Palaash05 commented on #191
I would like to work in this problem using python. I request you to assign it to me.

[2020-10-06 08:12] SHIVANI0708 commented on #179
i would like to code it in python. please allow me to do this assignment.

[2020-10-06 08:15] SHIVANI0708 commented on #179
please assign it to me I would like to code in python

[2020-10-06 09:52] sushant19-99 commented on #179
Kindly allow me to do this assignment, I will be coding in C.

[2020-10-06 10:27] nayanika0208 commented on #191
Hi , i can solve the problem in c++,Can you assign it to me??

[2020-10-06 10:31] sushant19-99 commented on #178
Kindly assign it to me , I would like do the task in Java.

[2020-10-06 10:36] sushant19-99 commented on #149
I would like to work on this task using Java , kindly assign the task.

[2020-10-06 10:37] sushant19-99 commented on #175
I would like to do this task using Java , kindly assign the task.

[2020-10-06 11:10] pratik-choudhari commented on #179
@sushant19-99 It has already been assigned to @TheYM

[2020-10-06 11:13] pratik-choudhari commented on #175
@sushant19-99 You are already assigned for 2 issues which is the max limit for this repository.

[2020-10-06 11:20] pratik-choudhari opened #197 "SQLite interaction"
# Feature ✅

## Description
Write a program to perform simple database queries of create, select, insert, delete, show tables and update on a sqlite database only

## Example
user will type queries as input similar to a sqlite query. Output must be printed immediately with proper formatting.
Input: SELECT * FROM EMP #to be executed only after creating a db and table.

Output: Must print the tuples

[2020-10-06 11:25] sgavil commented on #194
Hello!, I would like to contribute to this issue using Pyuthon.

[2020-10-06 11:35] everspy commented on #190
I can do this in Javascript

[2020-10-06 13:33] Xenoare opened #203 "Rock Paper Scissor Game"
Rock Paper and Scissor
This is a simple Rock, Paper and Scissor game

Description
Choose between Rock, Paper or Scissor and computer will pick a random number between 0-1 that contains Rock, Paper or Scissors

Note : All Compleated

All files must be kept in a directory.
Directory name must resemble the issue assigned.
Based on the language used, create a directory inside the language directory.
E

[2020-10-06 15:25] nayanika0208 commented on #191
#205
Please check my PR

[2020-10-06 15:52] Naziya-Parveen opened #207 "Lucky Number"
Problem Statement:
Lucky numbers are subset of integers.
Take the set of integers
1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,……

First, delete every second number, we get following reduced set.
1,3,5,7,9,11,13,15,17,19,…………

Now, delete every third number, we get
1, 3, 7, 9, 13, 15, 19,….….

Continue this process indefinitely……
Any number that does NOT get deleted due to above process is called

[2020-10-06 15:54] Naziya-Parveen commented on #207
I would like to contribute to this problem in Golang.

[2020-10-06 17:47] Naziya-Parveen commented on #197
Please assign me this problem.

[2020-10-06 18:36] #194 closed

[2020-10-06 18:47] pratik-choudhari commented on #197
@Naziya-Parveen The language?

[2020-10-06 18:52] Ankitcode99 opened #208 "Path Count in a Binary Matrix - DP"
# Feature ✅

## Description
Find number of possible paths from the top left cell of a matrix to the bottom-most right cell in a binary matrix.

## Example
Consider the following binary matrix where, 0 indicates the path is blocked and 1 indicates the path is open

**Input**
[code]

**Output** - 4
## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing project

[2020-10-06 18:57] seniorglez commented on #203
Hey! I will love to develop this on Java

[2020-10-07 01:07] Xenoare commented on #203
Oh thanks for visiting, sure u can, it will be a pleasure to use my code on Java :)

[2020-10-07 02:26] c0d1ng-Devta commented on #149
@pratik-choudhari can you please assign this to me in python.

[2020-10-07 03:21] CodeBuster598 commented on #207
I would love to code it in C++. Can you assign it to me.

[2020-10-07 03:27] CodeBuster598 opened #210 "Applying KMP algorithm"
# Feature ✅

## Description
Given two strings, pattern and text, find the number of occurrences of pattern in text.

## Example
Input :
abc
abcdabc

Output :
2

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

__

[2020-10-07 03:28] CodeBuster598 commented on #210
I would like to do this in C++. Please assign it to me.

[2020-10-07 04:44] sushant19-99 commented on #178
@pratik-choudhari  kindly add **‘hacktoberfest-accepted’** label to the pull request once they are merged. According to the guidelines only then the requests will be considered valid for hacktober fest

[2020-10-07 04:47] pratik-choudhari commented on #178
@sushant19-99 If you look at it again closely having hactoberfest labelled repository and a merged PR are also accepted. There is OR in between condition s.

[2020-10-07 04:48] nayanika0208 commented on #208
Can i contribute in python??

[2020-10-07 04:48] nayanika0208 commented on #210
Can i contribute in python?

[2020-10-07 04:49] shivam-S-bisht commented on #145
A blank cpp and readme??

[2020-10-07 04:50] sushant19-99 commented on #178
@pratik-choudhari Ohh okay. You are right. Thanks for clearing that out.

[2020-10-07 07:19] pratik-choudhari commented on #203
@seniorglez Would you like to use another language?

[2020-10-07 07:23] seniorglez commented on #203
@pratik-choudhari I already have this developed but I can write it in another language... In which language will you like to have it?

[2020-10-07 07:26] pratik-choudhari commented on #145
@shivam-S-bisht You might be viewing new changes, click on `Clear filters` to view all changes in PR.

[2020-10-07 07:27] pratik-choudhari commented on #203
@seniorglez Anyone from Go, python, c, c++

[2020-10-07 07:32] seniorglez commented on #203
I will go also with python and js then ;)

[2020-10-07 07:44] shivam-S-bisht commented on #145
you said : "now you need to create the cpp file and readme put it in apt folder". Is this regarding any issue or should I make a blank one and add in the apt folder.

ps: this conv. is going very confusing. hahaah

[2020-10-07 07:50] pratik-choudhari commented on #145
@shivam-S-bisht There was a typo in the assignment message, by mistake I mentioned you instead of @shivangigoel1302 .  You can still do it in Python or Java. Sorry for all this confusion.

[2020-10-07 07:56] Ankitcode99 commented on #208
@pratik-choudhari the issue is yet to be assigned to me.

[2020-10-07 08:05] shivangigoel1302 commented on #145
I am sorry I didn't understand . Are there any changes I need to make?

[2020-10-07 08:27] pratik-choudhari commented on #145
Omg, there's a lot of confusion here. @shivangigoel1302 your PR has been merged so you don't to worry about anything. and @shivam-S-bisht Can solve this problem in Python or Java.

[2020-10-07 09:17] saurabh-daware opened #216 "Java Fundamentals"
# Feature ✅

## Description

New folder in Java for the basic programs in Java language.

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

__Programming language  - Java__

[2020-10-07 12:56] nayanika0208 commented on #208
Hey i have already contributed twice to the repo ,so as per rules i can't do more,So please assign this one to other people.Thanks

[2020-10-07 14:53] SusnatoPrime007 commented on #207
I'd like to do it in Java,please assign me to this.

[2020-10-07 17:20] mbhole1857 commented on #207
Hi Nazriya, can you please assign me this issue. and let me know which language would you prefer?

[2020-10-07 17:34] pratik-choudhari commented on #208
Oh Thanks for bringing that up @nayanika0208

[2020-10-07 17:35] Mrsterius commented on #162
Hey Pratik,
I have created EDA for the AMES Advanced house prices (regression) dataset since column names were not mentioned for the Boston one. What all do you want me to add in the README?

[2020-10-07 17:47] Naziya-Parveen commented on #197
@pratik-choudhari python

[2020-10-07 18:04] Mrsterius commented on #161
Dataset name :- AMES Housing Dataset.

[2020-10-07 18:45] ByGreez commented on #197
Hi! I will write on Golang.

[2020-10-07 18:55] Mrsterius commented on #162
Submitted. Please let me know if there any changes to be made.

[2020-10-07 19:09] SusnatoPrime007 commented on #191
I would like to work on this in java,can you assign this to me please?

[2020-10-07 19:50] aalokchaudhary opened #221 "Painter's partition problem - Binary Search"
# Feature ✅

## Description
Given 2 integers A and B and an array of integers C of size N.

Element `C[i]` represents length of _**i'th**_ board.

You have to paint all **_N_** boards **[C0, C1, C2, C3 … CN-1]**. There are **A** painters available and each of them takes **B** units of time to paint **1 unit of board**.

Calculate and return minimum time required to paint all boards ( modulo 10^7+3

[2020-10-08 05:22] pratik-choudhari commented on #161
@Mrsterius Go ahead and create this inside EDA dir.

[2020-10-08 05:29] SusnatoPrime007 commented on #191
I have submitted my PR for this in java section,kindly check

[2020-10-08 07:07] pratik-choudhari opened #226 "Torsional Angle"
# Feature ✅

## Description
You are given four points A,B,C and D in a 3-dimensional Cartesian coordinate system. You are required to print the angle between the plane made by the points A,B,C and B,C,D in degrees(not radians). Let the angle be phi.

cos(phi) = (X.Y)/ |X||Y| where X = AB x BC and Y = BC x CD

Here, X.Y means the dot product of X and Y, AB x BC means the cross product of vectors AB

[2020-10-08 07:07] shivam-S-bisht commented on #145
ik, now i ve to solve the balanced parenthesis problem in python or java.

ps :  Can i use between python or C++ or golang.

[2020-10-08 07:08] shivam-S-bisht commented on #145
ok*

[2020-10-08 07:30] pratik-choudhari commented on #145
@shivam-S-bisht Choose anyone from python, go, java

[2020-10-08 07:32] pratik-choudhari opened #227 "Sort traingles"
# Feature ✅

## Description
Given all sides, calculate the triangle area and print the sides in ascending order of their areas.

## Example
First line will be the number of test cases.
Input:
3
7 24 25
5 12 13
3 4 5

Output:
3 4 5
5 12 13
7 24 25

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-08 07:36] pratik-choudhari opened #228 "Number frequency"
# Feature ✅

## Description
Given a string find the frequency of single digits(0-9) in it.

## Example
Input:
a11472o5t6

Output:
0 2 1 0 1 1 1 1 0 0

Explanation:
1 occurs twice
2,4,5,6,7 occur once
rest don't occur at all

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-08 08:01] falguni-k commented on #228
Hi, I can do it in c++. Can you please assign it to me?

[2020-10-08 08:35] Teleri commented on #227
Hello - I'll try this one in Javascript 👍

[2020-10-08 09:36] TediaN97 commented on #228
Hello, i would like if u assign me on this issue. I will do in Python.

[2020-10-08 10:49] #208 closed

[2020-10-08 11:25] Kirkkm commented on #228
Hello, I would like to be assigned this issue. I would us python to develop this. Thanks!

[2020-10-08 11:27] Kirkkm commented on #227
Hello, I would like to try this on in python, Thanks!

[2020-10-08 11:30] kartikaya2000 commented on #226
@pratik-choudhari can you please Assign this to me in MATLAB.
I will Make A MATLAB File in the same PR.

[2020-10-08 11:57] ItIsUday commented on #228
Hey, I'd like to implement it using python if assigned

[2020-10-08 12:32] JahshakaDEV commented on #228
Hey, I would like to do it in Java. Can you please assign it to me?

[2020-10-08 14:04] cianopiano commented on #227
Hi, I'd love to try this in C, if possible.

[2020-10-08 15:42] deepharshsri commented on #228
Hey can  i work on this using java.

[2020-10-08 15:58] titanabrian commented on #227
Hi, I would like to try on golang

[2020-10-08 16:16] pratik-choudhari commented on #228
@falguni-k @TediaN97 @deepharshsri Are assigned according to FCFS.

[2020-10-08 16:17] pratik-choudhari commented on #228
@Kirkkm @ItIsUday Y'all can try javascript and golang

[2020-10-08 16:20] deepharshsri commented on #228
how to save file like freuency.java in the java folder will be ok ?

[2020-10-08 16:21] pratik-choudhari commented on #226
Hey @kartikaya2000 sorry but can't use matlab, you can try among py, c, c++, java, javascript, go.

[2020-10-08 16:23] pratik-choudhari commented on #228
Create a folder inside `Java` , named after the problem and place the .java file inside it along with a readme containing your name and github link.

[2020-10-08 16:35] kartikaya2000 commented on #226
@pratik-choudhari Ok then please allot this problem to me in python

[2020-10-08 16:40] pratik-choudhari opened #233 "Timer with GUI⏳"
# Feature ✅

## Description
task is to create a timer application with GUI, it should include start, pause, lap and reset button. Must display time in milliseconds precision.
Website can also be created by using only html, css and javascript(framework of choice).

## Example
User must be able to react in real-time.

__Contributors are supposed to mention their coding language while asking for assi

[2020-10-08 16:45] pratik-choudhari opened #234 "Website to PDF📑"
# Feature ✅

## Description
A script to save a website page as PDF, URL will be provided by user.

## Example
The PDF must be encoded appropriately and renamed to the domain name of website.

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-08 16:48] pratik-choudhari opened #235 "Doubly linked list in C/C++⛓"
# Feature ✅

## Description
Implement a doubly linked list with the ability of inserting, deleting, updating and searching an element.

## Example
Entire flow must be menu-driven. Menu includes insert, delete, update, search and display elements from left to right.

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-08 16:54] ItIsUday commented on #226
Hey, I'd like to get assigned, I can implement this using python.

[2020-10-08 16:59] pratik-choudhari opened #236 "Random quote scrape and display💡"
# Feature ✅

## Description
Write a script to display random quote, preferably after scraping them from `http://quotes.toscrape.com/`  and storing them as JSON

## Example
Program must display a quote if user inputs 1 else it must end if user inputs -1.

__It will be great if it includes GUI or website⚡⚡__
__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-08 17:01] pratik-choudhari opened #237 "Zip and Unzip🤐"
# Feature ✅

## Description
Write a program to zip a folder or unzip a `.zip` file.

## Example
Location of source file to zip/unzip will be provided by user.

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-08 17:02] pratik-choudhari commented on #226
@ItIsUday Python has been assigned to @kartikaya2000

[2020-10-08 17:07] pratik-choudhari opened #238 "Convert numbers to their word forms🔡"
# Feature ✅

## Description
Given a number create and display its word form.

## Example
Input: 6782
Output: six thousand seven hundred and eighty two

Input:  1,11,098
Output: one lakh eleven thousand and ninety eight

Upper limit: 9,99,999

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-08 17:17] shobhitsundriyal commented on #238
Can you assign this to me? I will be using python.

[2020-10-08 17:21] kshitijshah95 commented on #233
@pratik-choudhari I'd like to contribute on this particular feature.
I will be using the following technologies for the same: HTML, CSS, Vanilla JS

p.s: I am new to Open Source Contributions and this is will be my first contribution

[2020-10-08 17:25] pratik-choudhari commented on #233
Welcome to open source @kshitijshah95 🎉. Yes you can start working on the issue. Remember to follow the code of conduct. All the steps for contributing are mentioned in the readme of repository.

[2020-10-08 17:38] RyanPapazoglou commented on #228
Hey can you assign this to me? I'll do it with JavaScript

[2020-10-08 18:19] deepharshsri commented on #228
Hey, can you assign me? I want to contribute with javascript?

[2020-10-08 18:45] burko265 commented on #235
Can i work on this Issue ?

[2020-10-08 18:48] burko265 commented on #235
Can you assign this to me?

[2020-10-08 18:49] ItIsUday commented on #175
Can you please assign it to me, I would like to do it in C.

[2020-10-08 18:57] ItIsUday opened #242 "Tower of Hanoi"
# Feature ✅

## Description
Given the number of disks and labels for the towers, displays necessary moves required to solve the Tower of Hanoi problem.

## Example
Input: 2 A B C

Output:
Move Disk 1 from A to B
Move Disk 2 from A to C
Move Disk 1 from B to C
It took 3 moves in total

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before su

[2020-10-09 02:27] kartikaya2000 commented on #190
@pratik-choudhari can you please assign this problem to me , I will do it in Python.

[2020-10-09 03:19] shrey27tri01 commented on #237
@pratik-choudhari Can I work on this problem in Python?
Also, a command line program will suffice, right? As in, the user provides the source files through command line arguments.

[2020-10-09 04:02] shivam-S-bisht commented on #145
ok sure..

[2020-10-09 06:27] Itachi8374 commented on #235
I would love to try this @pratik-choudhari

[2020-10-09 06:53] SaloniK17 commented on #235
Hi, can you please assign me this issue in c language?
Thank you.

[2020-10-09 07:26] AnkitaM84 commented on #235
Hey! can you assign this to me in Java?
Thank you

[2020-10-09 07:27] AnkitaM84 commented on #235
Hey! Can you please assign this to me in C++ ?
Thank you

[2020-10-09 07:56] rishika-singh49 commented on #235
I  would like to work on this.....
will you please assign me this issue in c language?

[2020-10-09 07:57] pratik-choudhari commented on #175
@ItIsUday C/C++ has been submitted for this issue. Give a try to Python or Java

[2020-10-09 08:00] pratik-choudhari commented on #237
@shrey27tri01 yup, CLI will do.

[2020-10-09 10:30] #23 closed

[2020-10-09 10:30] #11 closed

[2020-10-09 10:30] #10 closed

[2020-10-09 10:32] #197 closed

[2020-10-09 10:32] #216 closed

[2020-10-09 10:32] #114 closed

[2020-10-09 10:32] #106 closed

[2020-10-09 10:33] #80 closed

[2020-10-09 10:33] #75 closed

[2020-10-09 10:34] #3 closed

[2020-10-09 10:34] #179 closed

[2020-10-09 10:35] #167 closed

[2020-10-09 10:36] pratik-choudhari opened #244 "⚠Attention Contributors!- Mandatory to read once⚡"
1. There have been cases where people have made a PR even before creating an Issue, which is not acceptable.
2. Even if you have created an issue then you must ask for assignment and not immediately make a PR citing the issue, that is illegal.

If any more cases like those above are found, the PR will be tagged `invalid` or `spam` thus it will not be considered valid for Hacktoberfest 2020⚠. Let u

[2020-10-09 10:45] ItIsUday commented on #175
I'll do it in python, you can assign it to me

[2020-10-09 10:58] harshitalashkari commented on #238
Can you please assign this to me? I have solution ready for this.
I will use java

[2020-10-09 11:18] ShivamYadav-Coding commented on #242
I would like to contribute in c++

[2020-10-09 11:38] SpiderMath commented on #238
Can you assign this to me?
I am using JavaScript.

Just an Important question:
What is the Upper Limit to convert?
Crores?
Because I don't know any unit greater than that...

[2020-10-09 11:58] SpiderMath commented on #238
My Solution is Ready...
Can you please assign this to me?

[2020-10-09 12:11] PriyanshTri commented on #237
can I work on this?

[2020-10-09 12:35] bottleInALightning commented on #236
I will try to solve this challenge in **Python** with django as a web-application

[2020-10-09 14:43] pratik-choudhari commented on #238
@SpiderMath Lakhs is fine.

[2020-10-09 14:44] pratik-choudhari commented on #237
@PriyanshTri Will you be using language other than python? because python has been already assigned.

[2020-10-09 14:45] PriyanshTri commented on #237
python only...

[2020-10-09 14:47] pratik-choudhari commented on #236
@bottleInALightning Use the `Projects` directory instead of `Python`

[2020-10-09 14:48] pratik-choudhari commented on #237
It's already been assigned. May be checkout another issues🧐

[2020-10-09 14:48] bottleInALightning commented on #236
ok

[2020-10-09 14:56] pratik-choudhari opened #246 "Chatting client in python🐍"
# Feature ✅

## Description
Using `sockets` library in python, create a server and client script for a chatting application. All I/O will be from terminal.

## Example
Two separate python scripts will be run on two terminals. They must configure the connect and set up communication. Typing 'bye' will terminate respective script.

__Contributors are supposed to mention their coding language while a

[2020-10-09 15:02] PriyanshTri commented on #207
I want to do this in Python

[2020-10-09 15:04] PriyanshTri commented on #227
I want to do this in python

[2020-10-09 15:05] pratik-choudhari opened #247 "Music player application🎶"
# Feature ✅

## Description
Create a music playing application with GUI to play/pause music and skip to next song.

## Example
The app must play music from a folder.

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-09 15:08] pratik-choudhari commented on #227
@PriyanshTri This issue has been already assigned in python. Check the labels for languages assigned.

[2020-10-09 15:15] pratik-choudhari opened #248 "Remindabot🤖"
# Feature ✅

## Description
Write a script to remind user every 20 minutes to get up and walk or stretch a little. As you might be working on PC, you might not notice the warning on terminal. So the script must interact via notifications or Text to speech.

## Example

If user enters | the program must
-------------- | --------------------
-1 | Terminate
0 | Pause
1 | Resume

__Contributors are su

[2020-10-09 15:31] GoluffyxD commented on #248
Hey!I'd like to work on this! Can you assign it to me? (Language: Python)

[2020-10-09 16:01] cianopiano commented on #238
Could I be assigned for this in C please?

[2020-10-09 17:20] RyanPapazoglou commented on #234
Hey, can I do this with python?

[2020-10-09 17:33] sarthakw7 commented on #247
Hey, I would like to work on it.
I will do it in Python.

[2020-10-09 17:44] Mrsterius commented on #246
Hi @pratik-choudhari,
I can do this in Python. Can I proceed?

[2020-10-09 18:10] PriyanshTri commented on #207
#253 @pratik-choudhari please refer to this PR. Thanks

[2020-10-09 18:34] pratik-choudhari commented on #246
@Mrsterius Assigned to you.

[2020-10-09 19:35] Mrsterius commented on #246
Submitted. Please let me know if there are any changes required.

[2020-10-09 20:24] rashi-s17 commented on #234
Hey, I will like to work on this using electronjs. Can you assign it to me?

[2020-10-10 05:00] SAKSHI2569 commented on #242
I would like to contribute in c .
will you please assign me this issue?

[2020-10-10 07:17] Skr-suyash opened #261 "EDA on Titanic Dataset"
# Feature ✅

## Description
Dataset : https://www.kaggle.com/c/titanic
Do some nice EDA and Data Visualization on the Titanic Dataset in Python or R

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

__Contributor

[2020-10-10 07:49] bottleInALightning commented on #236
I am done and have pull requested you

[2020-10-10 09:54] pratik-choudhari commented on #242
@SAKSHI2569 It has already been assigned to shivam.

[2020-10-10 09:56] pratik-choudhari commented on #261
Also refer issue #162

[2020-10-10 12:35] cs-mshah opened #263 "BFS and DFS in C++"
# Feature ✅
## BFS and DFS on c++

## Checklist:

- [✅ ] I have read the project guidelines.
- [✅ ] I have checked all the existing projects, before submitting a new project issue.
- [✅ ] This issue will be meaningful for the project.
- [✅ ] I will contribute more in future

[2020-10-10 12:41] paraggoyal28 commented on #233
Hello pratik-choudhari can you assign this task to me. And is there any specific UI for this task or I can choose by myself.

[2020-10-10 12:42] paraggoyal28 commented on #233
Hello @pratik-choudhari  I would like to work on this task. Please assign it to me. Further more is there any specific ui for this or we can choose on our own.

[2020-10-10 12:46] paraggoyal28 commented on #263
@cs-mshah  please assign this task to me.

[2020-10-10 13:03] paraggoyal28 commented on #166
@pratik-choudhari can I do above problem in java.

[2020-10-10 13:09] paraggoyal28 commented on #105
@pratik-choudhari I would like to work on this in Python. But how are we specifying tagged text. Means like will it be given like in string """"<h1> This is heading</h1><span>Hello</span><span>Technology is growing</span><span>Archit</span>. Or something else. Please specify the input more clearly.

[2020-10-10 13:12] paraggoyal28 commented on #57
@pratik-choudhari  can I do this task  in c++

[2020-10-10 14:12] pallavivaswani opened #264 "Number System Conversion"
# Feature ✅

## Description

A menu-driven code to convert a given number from one base system to another
Menu:
1. Binary to Decimal
2. Binary to Octal
3. Binary to Hexadecimal
4. Decimal to Binary
5. Decimal to Octal
6. Decimal to Hexadecimal
7. Octal to Binary
8. Octal to Decimal
9. Octal to Hexadecimal
10. Hexadecimal to Binary
11. Hexadecimal to Octal
12. Hexadecimal to Decimal
13. Exit

## Ex

[2020-10-10 14:26] pallavivaswani commented on #264
I'd like to contribute in Java

[2020-10-10 14:28] pratik-choudhari commented on #233
@paraggoyal28 What is going to be your tech stack?

[2020-10-10 14:32] pratik-choudhari commented on #166
@paraggoyal28 Would you prefer this problem over timer in gui?

[2020-10-10 14:33] pratik-choudhari commented on #57
@paraggoyal28 You can only contribute to max two issues. Confirm from your previous problems you want to work on.

[2020-10-10 15:36] PrattJena commented on #261
Hey Pratik!
I have just started github and would like to be assigned this issue.

[2020-10-10 15:48] PrattJena commented on #161
Dataset name :- IMDB Dataset of 50K Movie Reviews

[2020-10-10 15:49] paraggoyal28 commented on #233
@pratik-choudhari  I will use React

[2020-10-10 15:49] paraggoyal28 commented on #166
@pratik-choudhari  I would prefer timer gui. Assign this to someone else.

[2020-10-10 15:50] paraggoyal28 commented on #57
@pratik-choudhari  ok I have checked two issues from previous problems. You can assign this to some one else.

[2020-10-10 16:33] PrattJena commented on #162
Hey Pratik
I would like to add an EDA of dogs vs cats. Can i work on it?

[2020-10-10 17:47] pratik-choudhari commented on #161
@PrattJena Make sure you follow the directory structure!

[2020-10-10 17:49] pratik-choudhari commented on #233
@paraggoyal28 include `using_react` in your folder name.

[2020-10-10 17:51] pratik-choudhari commented on #162
@PrattJena What in cats and dogs? The image dataset right?

[2020-10-10 17:52] PrattJena commented on #162
@pratik-choudhari Yes the image classification dataset

[2020-10-10 18:06] pratik-choudhari commented on #162
Could you elaborate on what will be in the EDA?

[2020-10-10 18:16] PrattJena commented on #162
Actually now that I think about it. Its much better suited for projects folder as the Neural network determines whether the image is of cat or a dog

[2020-10-11 04:34] shrey27tri01 commented on #237
@pratik-choudhari I have created a PR [here](https://github.com/pratik-choudhari/AlgoCode/pull/269). Can you please review it? :)

[2020-10-11 04:43] cs-mshah commented on #263
Hey man, This should be assigned to me. That's the reason to open the issue. According to your rules, if you want to contribute you should open an issue.

[2020-10-11 04:46] pratik-choudhari commented on #263
Yep you should create if you want to contribute to it. But just creating doesn't suffice you have to mention i want to do this in ... language either in the issue or the comment.

[2020-10-11 04:51] pratik-choudhari commented on #162
Yep so that doesn't count as EDA.

[2020-10-11 05:44] ShivamYadav-Coding opened #270 "Merge tow sorted linked list"
# Feature ✅

## Description
Given 2 sorted linked lists, merge the lists to a single sorted linked list.

## Example
List1: 2 -> 4 -> 5 -> 6 -> 8 -> 9
List2: 1 -> 3 -> 7
Merged List:
1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meani

[2020-10-11 05:50] ShivamYadav-Coding opened #271 "Find 'n'th node from the end of a linked list"
# Feature ✅

## Description
Given a linked list, find 'n'th node from the end for a given value of n (n > 0).

## Example
For example, for the following linked list
![image](https://user-images.githubusercontent.com/59358990/95671350-944c1e00-0bb3-11eb-991c-01a4c21ebe76.png)

if n = 2, we have to find 2nd node from the end which is node 6.
if n = 1, we have to find 1st node from the end which is n

[2020-10-11 05:54] SaloniK17 commented on #264
can you please assign to me for c?
Thank you

[2020-10-11 05:55] SaloniK17 commented on #270
hii, can you please assign to me for c?
Thank You

[2020-10-11 06:00] SaloniK17 commented on #149
hii,can you please assign to me for c?
Thank you

[2020-10-11 06:02] SaloniK17 commented on #48
Can you please assign to me for c?
Thank you

[2020-10-11 09:00] pratik-choudhari commented on #149
@SaloniK17 You have been assigned to 2 issues which is the contribution limit for this repository.

[2020-10-11 09:01] pratik-choudhari commented on #48
@SaloniK17 this issue has been assigned in C.

[2020-10-11 10:49] dhruvin5 commented on #271
can you assign this to me in c++?

[2020-10-11 12:04] nehalgupta8501 commented on #264
I would like to contribute in C++, thanks!

[2020-10-11 12:26] pratik-choudhari commented on #264
@nehalgupta8501 It has been assigned in c/c++, you can try another issue.

[2020-10-11 12:30] pratik-choudhari opened #273 "Count single digits"
# Feature ✅

## Description
For a given number find out the count of digits appearing exactly once

## Example
Input: 99995844
Output: 2(only 5 and 8 appear once)

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-11 12:32] pratik-choudhari opened #274 "Find if a number is automorphic"
# Feature ✅

## Description
Given a number, find out if the number is automorphic.
An automorphic number is a number whose square ends with the same digits as the number itself.

## Example
Input: 25
Output: Yes

## Explanation
 square of 25 = 625 and it ends with the number 25

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitti

[2020-10-11 12:34] pratik-choudhari opened #275 "Floyd's triangle"
# Feature ✅

## Description
Floyd’s triangle, named after Robert Floyd, is a right-angled triangle that is made up using natural numbers. It starts from 1 and consecutively selects the next greater number in the sequence. Given number of rows program should print a valid triangle.

## Example
Input: 5
Output:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

__Contributors are supposed to mention their coding

[2020-10-11 12:36] pratik-choudhari opened #276 "Pascal's triangle"
# Feature ✅

## Description
Each number in the row is the sum of the left number and right number on the above row. if a number is missing in the above row, it is assumed to be 0. the first row starts with number 1.  Given number of rows print a valid triangle.

## Example
Input: 5
Output:
     1
    1 1
   1 2 1
  1 3 3 1
1 4 6 4 1

__Contributors are supposed to mention their coding language whi

[2020-10-11 12:38] pratik-choudhari opened #277 "Palindromic pyramid"
# Feature ✅

## Description
The palindromic number are the number whose reverse is equal to the original number. Given number of rows print a valid palindromic pyramid.

## Example
Input: Enter number of row:  5
Output:
         1
       121
     12321
   1234321
123454321

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-11 12:40] Harshalszz commented on #274
Hey! can I work on this in C++.

[2020-10-11 12:40] pratik-choudhari opened #278 "Mirrored rhombus"
# Feature ✅

## Description
A rhombus is a shape which has all sides congruent, opposite sides parallel and diagonals crossing at 90 degrees. Given number of rows print a valid mirrored rhombus

## Example
Input: 4
Output:
<pre>
      ****
    ****
  ****
****
</pre>

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-11 12:43] pratik-choudhari opened #279 "String operations"
# Feature ✅

## Description
Given an input string, perform:
* String Length
* Count number of vowels
* Check if the string is Palindrome
* Remove Vowels from the string
* Calculate the frequency of characters in the string
* Replace substring in a string
* Remove spaces from the string
* Capitalize the first and last character of each word in the string
* Count the sum of numbers in a string
* Con

[2020-10-11 12:44] pratik-choudhari commented on #274
@Harshalszz Sure, assigned to you in C++

[2020-10-11 12:51] pratik-choudhari opened #280 "Can Balance?"
# Feature ✅

## Description
Given a non empty array, return true if there is a place to split the array so that the sum of the numbers on one side is equal to the sum of the numbers on the other side.

## Example
Input: 1, 1, 1, 2, 1
Output: True

Input: 2, 1, 1, 2, 1
Output: False

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-11 12:59] jayaganeshkumar commented on #273
@pratik-choudhari  Can you assign me this? I want to work on it in Python.

[2020-10-11 13:00] ravidyarev commented on #279
@pratik-choudhari can you please assign me this issue. Will implement in Java.

[2020-10-11 13:15] ankitsri98 commented on #280
Please Assign this doubt to me .
My Language is C++.
Thank you.

[2020-10-11 13:17] deril2605 commented on #273
Interested, python

[2020-10-11 13:46] xyther14 commented on #279
Can you assign me this? I can implement in Java.

[2020-10-11 13:53] xyther14 commented on #233
I would love to work on this using Flutter.

[2020-10-11 13:55] ddaniss commented on #276
Can I get this one?

[2020-10-11 14:13] vaishnavirshah commented on #273
Can you assign this to me? I would like to work on it in CPP

[2020-10-11 14:47] anil-goudar commented on #279
I  wanna implement using JS and Python, please assign the issue.

[2020-10-11 14:48] anil-goudar commented on #274
Wanna implement in Python, please assign to me.

[2020-10-11 14:53] anil-goudar commented on #273
I wanna work in JS. Assign the issue please.

[2020-10-11 15:05] Harshalszz commented on #277
Hey! can I work on this in Python.

[2020-10-11 15:31] argha-dot commented on #275
@pratik-choudhari can you assign me this? I can code in python

[2020-10-11 15:38] omarahmed1111 commented on #276
Can you assign me this ? (c++)

[2020-10-11 15:50] SaloniK17 commented on #48
@pratik-choudhari but you haven't assigned  this issue in c to anybody else .so, please can i do this?

[2020-10-11 16:12] sashpawar11 commented on #280
Hey can you assign me this task!

[2020-10-11 16:15] jayaganeshkumar commented on #273
@moderators

[2020-10-11 16:21] Bhavya-Tripathi commented on #264
I could do this in python. Could you assign it to me?

[2020-10-11 16:28] marlonluca commented on #280
Hey! I want to work on this, using Java :-)

[2020-10-11 16:29] marlonluca commented on #271
Can I also work on it, using java?

[2020-10-11 17:15] itayz1230 commented on #264
Hi, my FIRST real issue, so I guess I have to ask you to assign it to me and then I can start working on it?
I would like to solve it with python or C#, thanks!

[2020-10-11 17:38] NandiniMundra-8 commented on #279
hey @pratik-choudhari can you assign this to me ,I would love to perform this task in c language?

[2020-10-11 17:39] NandiniMundra-8 commented on #276
hey @pratik-choudhari ,can you assign this to me ,I would be performing it in c language?

[2020-10-11 17:48] saurabh-daware commented on #279
What do you mean by menu driven program

[2020-10-11 17:50] saurabh-daware commented on #279
What do you mean by a menu driven program?

[2020-10-11 18:11] pratik-choudhari commented on #48
@SaloniK17 C and C++ are not distinguished.

[2020-10-11 18:15] pratik-choudhari commented on #264
@itayz1230 Assigned for c#.

[2020-10-11 18:19] pratik-choudhari commented on #279
@anil-goudar You are already assigned to 2 issues.

[2020-10-11 18:20] almas-ashruff commented on #273
Can I work on this using C++? Kindly assign. Thank you

[2020-10-11 18:20] pratik-choudhari commented on #279
@saurabh-daware All the operations mentioned above must be displayed as a menu. User will then choose from the menu the operations to perform. Such as input 1 for string length.

[2020-10-11 18:21] pratik-choudhari commented on #273
@almas-ashruff It already been assigned for c/c++.

[2020-10-11 18:22] alvinuday commented on #273
Hi really interested in this problem, could assign me this ,i will be coding in python

[2020-10-11 18:27] almas-ashruff commented on #271
Can I solve using C++? Thank you.

[2020-10-11 18:34] alvinuday commented on #276
Hi , i am interested in coding a solution for this problem in python , can you please assign this to me

[2020-10-11 18:38] pratik-choudhari commented on #273
@alvinuday It is already been assigned in python.

[2020-10-11 18:41] pratik-choudhari commented on #276
@NandiniMundra-8 It has been assigned to @omarahmed1111 based on FCFS.

[2020-10-11 19:16] ghanender-chauhan commented on #279
assign me this issue . I will do in python

[2020-10-11 19:19] ghanender-chauhan commented on #280
i want to work on this issue . I will do in python

[2020-10-11 19:52] TheBlckCat commented on #278
Hi ✌️,
I want to work on this issuein.
* In what language?

[2020-10-11 19:58] ieternalleo commented on #264
I would to contribute in GoLang.

[2020-10-11 19:59] saurabh-daware commented on #279
Can you assign me, I'll do in Golang

[2020-10-11 20:10] Monigingir commented on #280
Hi Pratik, May I work on this. i would like to use python.

[2020-10-11 20:14] AyeshW commented on #277
Hi, I can work on this in Java.

[2020-10-11 21:05] almas-ashruff commented on #278
Can you assign this to me, please?  (C++)

[2020-10-11 21:07] almas-ashruff commented on #275
Can you assign this to me in C++?

[2020-10-11 22:33] eeayd commented on #280
hello, I already wrote the code in Python. I would love to share if you can assign me, thanks!

[2020-10-11 22:42] AyeshW commented on #237
Can you please assign me to work on this in Java?

[2020-10-11 23:13] Monigingir commented on #278
Hi Pratik, please can this be assigned to me, i would like to use python

[2020-10-11 23:18] TheBlckCat commented on #278
If I have to choose the language, I would like to do it in C (remember I asked for it first hahaha)

[2020-10-12 04:02] alvinuday commented on #94
Hi, I would like to use Python to write the code for these algorithms, could you please assign it to me

[2020-10-12 04:07] alvinuday commented on #5
Hi, I would like to propose a code for this question in python , Can you please assign it to me

[2020-10-12 05:09] alvinuday commented on #275
Hi, i would like to code this program in Java, can you please assign it to me

[2020-10-12 05:17] anil-goudar commented on #274
@pratik-choudhari Added the solution and please review.

[2020-10-12 05:20] alvinuday commented on #53
Hi, i would like to code a solution in python, Can you please assign it to me ?

[2020-10-12 05:46] jayaganeshkumar commented on #273
@pratik-choudhari  I made a PR. Check it and merge

[2020-10-12 05:48] Isha2208 commented on #274
Hey @pratik-choudhari , can you assign the issue to me. I want to implement it using C

[2020-10-12 06:51] alvinuday commented on #53
Hi, i would like to code a solution in python, Can you please assign it to me ?

[2020-10-12 06:56] alvinuday commented on #273
can you please assign numero perfecto to me , python

On Mon, Oct 12, 2020 at 12:08 AM Pratik Choudhari <notifications@github.com>
wrote:

[2020-10-12 08:02] SaloniK17 commented on #48
@pratik-choudhari  Okay

[2020-10-12 08:25] dhairya-parikh commented on #271
Can I solve it in JAVA?
Thank you.

[2020-10-12 08:26] dhairya-parikh commented on #270
Can I solve it in C++/JAVA?
Thank you.

[2020-10-12 08:29] dhairya-parikh commented on #279
Can you please assign it to me, for JAVA?
Thank you.

[2020-10-12 08:30] dhairya-parikh commented on #280
Can you please assign it to me, for JAVA?
Thank you.

[2020-10-12 08:41] dhairya-parikh commented on #273
Can you please assign it to me, for JAVA?
Thank you.

[2020-10-12 09:29] pratik-choudhari commented on #278
@TheBlckCat Yup, assigned in C.

[2020-10-12 09:35] almas-ashruff commented on #278
Assign in Java. Thanks.

[2020-10-12 09:40] pratik-choudhari commented on #275
@alvinuday It has been assigned to @argha-dot for python.

[2020-10-12 09:41] pratik-choudhari commented on #274
Hi @Isha2208 It has been assigned for in c/c++

[2020-10-12 09:45] pratik-choudhari commented on #271
@almas-ashruff @dhairya-parikh They are already assigned, choose another issue.

[2020-10-12 09:49] pratik-choudhari commented on #280
@eeayd @Monigingir This issue has already been assigned to other contributors based on FCFS.
@dhairya-parikh You have been assigned to 2 issues which is the max limit for this repository.

[2020-10-12 10:22] rijusougata13 opened #302 "hackerrank problems"
# Feature ✅
# Bug 🐞
# Documentation 📑

## Description
INCREASE YOUR SKILL (hackerrank problem) (c++)

## Example

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

__Contributors are supposed to mention their codi

[2020-10-12 10:34] eeayd commented on #279
hey can you assign me this? I will implement in Ruby, thanks!

[2020-10-12 11:14] Shreejichandra commented on #271
Can I solve it in Python?
Thank you.

[2020-10-12 11:35] PulkitPansari13 opened #305 "Can we sort ?"
# Feature ✅

## Description

Given an array A with n integers return True if it is possible to sort the array in increasing order by swapping the i-th element A[i] with the (i+k)-th element A[i+k] else return False. You may perform the operation any number of times.

### Input format
n k
A1 A2 A3 ......An

## Example

input :
6 1
2 4 1 3 5 8
output:
True

input:
6 2
4 2 7 1 3 6
output:
False

inpu

[2020-10-12 11:47] eeayd commented on #280
okay then I implemented it in Ruby too. I can share that one if you assign me, thanks.

[2020-10-12 12:00] jainsarthak216 commented on #244
Can I do Single digit count issue in python?

[2020-10-12 12:01] jainsarthak216 commented on #273
Can I do Single digit count issue in python?

[2020-10-12 12:10] Bhairavi-shah commented on #279
Hey! I would like to implement this in Go. Please assign this to me. Thank you!

[2020-10-12 12:12] Bhairavi-shah commented on #228
I would like to try this in golang. Please assign this to me. Thanks!

[2020-10-12 13:07] rileyhgrant commented on #275
Hey @pratik-choudhari, may I be assigned this for Java?

[2020-10-12 14:01] Harshalszz commented on #277
Hey! can I work on this in C++ also.

[2020-10-12 15:59] pratik-choudhari commented on #302
@rijusougata13 This issue is vague and seems spammy.

[2020-10-12 15:59] #302 closed

[2020-10-12 16:07] pratik-choudhari commented on #280
@eeayd Actually we are not accepting submissions for ruby, you can solve other issue in python!

[2020-10-12 17:43] ricardosmithco commented on #280
Hi @pratik-choudhari can you please assign this to me I can provide working Java solution (today) :)

[2020-10-12 17:53] pratik-choudhari commented on #280
@ricardosmithco It is already assigned so I can't do that.

[2020-10-12 17:55] ricardosmithco commented on #280
Okay, I didn't see it was already assigned for Java solution. Thanks @pratik-choudhari

[2020-10-12 19:14] ke3peR007 commented on #273
please let me know if I can work on these using python

[2020-10-13 04:43] uddeshyatyagi commented on #261
Hey @pratik-choudhari ,would you please assign this to me?
I'm extremely willing to take this issue.
Thank you!!!

[2020-10-13 05:32] pratik-choudhari commented on #273
@ke3peR007 Nope, It has already been assigned.

[2020-10-13 05:34] pratik-choudhari commented on #261
@uddeshyatyagi It has been assigned to @PrattJena
@PrattJena You are working on it right?

[2020-10-13 05:42] pratik-choudhari opened #318 "Deep learning pipeline for MNIST digit dataset"
# Feature ✅

## Description
Create a complete pipeline for reading data, formatting it, train model and evaluate.
Get the dataset [here](https://www.kaggle.com/scolianni/mnistasjpg?)

## Example
Submission must be in the form of well commented python script. not jupyter notebook

__Submission must be placed inside `Machine Learning` folder__

__As submission is for a python script it would be pref

[2020-10-13 05:46] pratik-choudhari opened #319 "White board in python🖊"
# Feature ✅

## Description
Create a free drawing application in python, which allows user to draw freely on a canvas. Must have ability to erase entire canvas with erase button and a toggle button for brush size to draw with.

__Note: Use pygame__

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-13 06:07] uddeshyatyagi opened #320 "Countdown Timer"
# Feature ✅

## Description
A countdown timer, based on count given by user.

## Example
Input: 60
Output: Play a sound when timer expires.

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

__Contributors are sup

[2020-10-13 07:00] rishika-singh49 commented on #279
can i do this in c++?

[2020-10-13 07:22] pratik-choudhari commented on #279
@rishika-singh49 I am sorry but it is already assigned.

[2020-10-13 08:17] huseyinsimsekk commented on #273
Can you please assign it to me, for C#?
Thank you.

[2020-10-13 08:22] rishika-singh49 commented on #279
so can i do this in java

[2020-10-13 09:04] cs-mshah opened #321 "Implementing the Dijkstra's algorithm"
# Feature ✅

## Description

Implementation of the Dijkstra's algorithm.

## Checklist:

- [✅ ] I have read the project guidelines.
- [✅] I have checked all the existing projects, before submitting a new project issue.
- [✅] This issue will be meaningful for the project.
- [✅] I will contribute more in future

[2020-10-13 09:04] cs-mshah commented on #321
Can You assign me this issue.

[2020-10-13 09:34] raj2729 commented on #275
Hi @pratik-choudhari  i would like to code this program in Python, can you please assign it to me ?

[2020-10-13 09:37] GoluffyxD commented on #248
Hey! Let me know if any additional features are needed! I'd appreciate any suggestions @pratik-choudhari

[2020-10-13 10:43] raj2729 commented on #305
Hi @pratik-choudhari , I would like to do this code in Java . Could you please assign me for the same ?

[2020-10-13 11:13] sarthak-21 commented on #279
can I do this in C?

[2020-10-13 11:24] sarthak-21 commented on #321
Can you assign me this, I will do it in C

[2020-10-13 11:38] pratik-choudhari commented on #275
@raj2729 Sorry it has been assigned in python to @argha-dot

[2020-10-13 11:39] pratik-choudhari commented on #248
@GoluffyxD Great work👏

[2020-10-13 11:48] pratik-choudhari commented on #279
@rishika-singh49 @sarthak-21 I am sorry but it is already assigned.

[2020-10-13 11:49] pratik-choudhari commented on #279
@saurabh-daware I am sorry I did not see your assignment request. Would you be interested in any other issue?

[2020-10-13 11:51] pratik-choudhari commented on #321
@cs-mshah You are up for c++, @sarthak-21 it has been assigned to @cs-mshah
C and C++ are not distinguished here.

[2020-10-13 12:23] sarthak-21 commented on #279
Can I try this in python?

[2020-10-13 12:31] sid-1207 commented on #235
Is it still open
I want to contribute in C

[2020-10-13 12:33] sid-1207 commented on #8
I would like to contribute in C
Please assign it to me

[2020-10-13 13:42] Monigingir commented on #319
Hi @pratik-choudhari , may i work on this, using python of course

[2020-10-13 13:46] kingaj commented on #279
can you assign to me for java

[2020-10-13 13:52] pallavivaswani opened #327 "Max Array Sum"
# Feature ✅

## Description

Given an array of integers, find the subset of non-adjacent elements with the maximum sum. Calculate the sum of that subset.
For example, given an array [-2,1,3,-4,5]  we have the following possible subsets:
| Subset | Sum |
| --- | --- |
| [-2, 3, 5] | 6 |
| [-2, 3] | 1 |
| [-2, -4] | -6 |
| [-2, 5]        | 3|
| [1, -4]  |     -3 |
| [1, 5]      |    6 |
| [3, 5]  |

[2020-10-13 14:00] pallavivaswani opened #328 "Compare Triplets"
# Feature ✅

## Description

Give rating of two People- Person A and Person B as triplet a = (a[0], a[1], a[2]) for A, and b = (b[0], b[1], b[2]) for B.
The task is to find their comparison points by comparing a[0] with b[0], a[1] with b[1], and a[2] with b[2].
If a[i] > b[i], then A is awarded 1 point.
If a[i] < b[i], then B is awarded 1 point.
If a[i] = b[i], then neither A nor B receives a poin

[2020-10-13 14:05] pallavivaswani opened #329 "Maximum Number Of Handshakes"
# Feature ✅

## Description

The user is asked to take a number as integer n and find out the possible number of handshakes. For example, if there are n number of people in a meeting and find the possible number of handshakes made by the person who entered the room after all were settled.
##### Hint:
nC2 calculated as n*(n-1)/2

## Example

##### Input:
N=15

##### Output:
Max. no. of handshakes =

[2020-10-13 14:07] pallavivaswani opened #330 "Permutations for N People to Occupy R Seats In A Classroom"
# Feature ✅

## Description

Write a code to find all the possible permutations in which N people can occupy R number of seats in a classroom
N students are looking to find R seats in a classroom. Some of the seats are already occupied and only a few can be accommodated in the classroom. The available seats are assumed as R and N number of people are looking to accommodate within the room.
##### H

[2020-10-13 14:18] burko265 commented on #235
Yes ofcourse, i work on it.

Dňa ut, 13. okt 2020, 14:31 Siddharth Shah <notifications@github.com>
napísal(a):

[2020-10-13 14:22] pallavivaswani opened #331 "2048 Game"
# Feature ✅

## Description

The main objective of this game is to move numbered tiles on a grid to merge them to form a tile with the number 2048.
In each move, a new tile falls with the number of 2 or 4. The player has to move the tiles using arrow keys and try to collide the same two numbers which create a new tile with the total sum of the two numbers/tiles. The top right corner contains a sco

[2020-10-13 15:25] pratik-choudhari commented on #8
@sid-1207 It has been already assigned in C

[2020-10-13 15:27] pratik-choudhari commented on #279
@sarthak-21 @kingaj  It has been already assigned in py and java

[2020-10-13 15:28] sid-1207 commented on #8
@pratik-choudhari What about C++?
Do you need it

[2020-10-13 15:32] sid-1207 commented on #235
C or C++ whichever

[2020-10-13 15:32] pratik-choudhari commented on #279
@sarthak-21 See issues tab.

[2020-10-13 15:33] pratik-choudhari commented on #8
@sid-1207 C and c++ are not distinguished.

[2020-10-13 15:33] pratik-choudhari commented on #235
@sid-1207 They are not distinguished.

[2020-10-13 15:37] sarthak-21 commented on #305
I would like to do this code in C. May I?

[2020-10-13 15:38] sid-1207 commented on #235
Should I?

[2020-10-13 16:17] cianopiano commented on #330
I would like to do this in C please.

[2020-10-13 16:28] raj2729 commented on #305
I have added the implementation for the required problem in Java and made a pull request . If any more changes are to be made , please do let me know .Thank you !

[2020-10-13 16:35] raj2729 commented on #235
Hi @pratik-choudhari I would like to work on this in C/C++ , could you please assign it to me

[2020-10-13 16:36] raj2729 commented on #275
Okay no problem , thank you

[2020-10-13 16:48] alvinuday commented on #329
Hi , i would like to code a program for this issue in python, could you please assign it to me

[2020-10-13 17:25] EANimesha commented on #331
I like to complete this in python

[2020-10-13 17:30] saurabh-daware commented on #328
Can you assign me this? I can implement it in Java.

[2020-10-13 17:35] saurabh-daware commented on #279
It's fine. I would like to solve issue #328.

[2020-10-13 18:13] #320 closed

[2020-10-13 18:14] therupdeep commented on #329
@pallavivaswani i would like to do this in Java. Please assign this to me.

[2020-10-13 18:15] pratik-choudhari commented on #235
@sid-1207 @raj2729 None can be assgined in C or C++ it is assgned to @rishika-singh49

[2020-10-13 18:15] therupdeep commented on #330
@pallavivaswani @pratik-choudhari i would like to do this in Java. Can you assign it to me?

[2020-10-13 18:20] pratik-choudhari commented on #329
@alvinuday You are been assigned to 2 issues which is max limit for this repository.

[2020-10-13 18:22] pratik-choudhari commented on #330
@therupdeep You are assigned to two issues which is max limit for this repository.

[2020-10-13 18:38] subhadeep1912 commented on #329
hi i would love to implement the code in C#, C++ and C. Can I still work on it? If yes can you assign me, Thank you

[2020-10-13 18:44] Sripaad opened #336 "Morse Code Encoder Decoder"
# Feature ✅

## Description
Morse code encoder and decoder

## Example
Input a message and output the morse code

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

__Contributors are supposed to mention their codi

[2020-10-13 18:49] Sripaad commented on #336
@pratik-choudhari am gonna work on this.

[2020-10-13 19:15] sarthak-21 commented on #274
Hey! @pratik-choudhari can I work on this in java?

[2020-10-14 02:32] KompuDan commented on #328
Hi, can i joint in this assignment? A would use Java

[2020-10-14 05:02] Isha2208 commented on #327
Hey, **@pallavivaswani** I would like to contribute in C/C++ language

[2020-10-14 05:04] Isha2208 commented on #305
Hey, I would like to contribute in C/C++ language. Can you assign it to me

[2020-10-14 06:36] vijaylaxmi26 commented on #147
Can i try to work on this issue? I would like to contribute in c++

[2020-10-14 07:31] Isha2208 commented on #328
Hey, @pratik-choudhari i would like to implement the code in C/C++. Please assign it to me.

[2020-10-14 07:34] Isha2208 commented on #277
Hey, can i work on it using C++/C

[2020-10-14 07:43] raj2729 commented on #330
Hello @pratik-choudhari I would like to do this in Java. Could you assign it to me?

[2020-10-14 07:59] pallavivaswani opened #344 "Scalar Product of an Array"
# Feature ✅

## Description

Given two arrays A1 and A2; Find the Minimum and Maximum Scalar product of these two arrays.
A scalar product is also known as the dot product of two vectors.

For finding the minimum scalar product of arrays we need to multiply the minimum value of array to the maximum value of the second array and add all multiple values.
##### Hint: here we need to sort the array1 a

[2020-10-14 07:59] pallavivaswani opened #345 "Operations on an Array"
# Feature ✅

## Description

Given a number N, input N elements and the task is to perform the following operations all together:
- Find the Smallest Number
- Find Largest Element
- Find the sum of all array elements
- Find Frequency of elements
- Count Distinct Elements
- Count Repeating Elements
- Count of Even elements
- Count of odd elements

## Example

##### Input:
12
16 5 8 9 20 4 3 7 8 5 3

[2020-10-14 07:59] pallavivaswani opened #346 "Sort an Array"
# Feature ✅

## Description

Write a program to sort the first half of an array in ascending order and the second half in descending order

## Example

##### Input:
N = 12
2 6 5 7 0 10 13 9 15 12 1 8
##### Output:
0 2 5 6 7 10 15 13 12 9 8 1

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This is

[2020-10-14 07:59] pallavivaswani opened #347 "Harshad number or not"
# Feature ✅

## Description

In mathematics, a Harshad number is a number that is divisible by the sum of its digits.
Input consists of 1 integer.
Example– Number is 21
it is divisible by own sum (1+2) of its digit(2,1)
So it is Harshad number
Some other Harshad numbers are 156,54,120 etc.

## Example

<b>Input:</b>  111
<b>Output:</b>  111 is Harshad
<b>Explanation:</b> 111/(1+1+1) = 37; since 11

[2020-10-14 07:59] pallavivaswani opened #348 "Abundant number or not"
# Feature ✅

## Description

A number n is said to be Abundant Number to follow these condition:-
 - the sum of its proper divisors is greater than the number itself.
 - And the difference between these two values is called the abundance.
Example:- Abundant number 12 having a proper divisor is 1,2,3,4,6 the sum of these factors is 16 it is greater than 12 so it is an Abundant number.
Some other ab

[2020-10-14 08:11] SaloniK17 commented on #147
can you please assign to me  for c?
Thank You

[2020-10-14 08:51] bgbenzer commented on #275
Hi, Can I try this with C#

[2020-10-14 10:41] maityankan10 commented on #330
I would like to do this in c++

[2020-10-14 11:25] dwij2212 commented on #318
Hi! Could you assign this to me in python? TIA.

[2020-10-14 11:42] subhadeep1912 commented on #336
Hey I can work on this issue in C, C++ or C#. Anyone of them or all of them. Can you assign me?

[2020-10-14 11:44] pratik-choudhari commented on #328
@KompuDan Java is taken up by another contributor for this issue. Wanna try other language?
@Isha2208 You are assigned to 2 issues, it is the limit for this repo.

[2020-10-14 11:45] pratik-choudhari commented on #277
@Harshalszz No you can't buddy. @Isha2208 Limit is surpassed.

[2020-10-14 11:46] rashi-s17 commented on #236
Hey, I will like to work on this in JavaScript. Can you assign it to me?

[2020-10-14 11:47] #235 closed

[2020-10-14 11:51] pratik-choudhari commented on #147
@vijaylaxmi26 @SaloniK17 it's already assigned in C/C++.

[2020-10-14 11:53] subhadeep1912 commented on #330
@pratik-choudhari I can do this in C#

[2020-10-14 11:54] pratik-choudhari commented on #330
@maityankan10 C/C++ is already assigned to @cianopiano

[2020-10-14 11:56] pratik-choudhari commented on #236
@rashi-s17 sure.

[2020-10-14 12:52] PriyanshuGangwar commented on #270
Hi, can you please assign this to me in c++?

[2020-10-14 13:19] vijaylaxmi26 commented on #147
can i try with java?

[2020-10-14 13:43] PriyanshuGangwar commented on #345
Hi, Can I do it in C++?

[2020-10-14 13:46] Harshalszz commented on #347
Hey! can I work on this in C++.

[2020-10-14 13:47] Flamer17 commented on #348
@pallavivaswani  @pratik-choudhari  I want to do this is JAVA

[2020-10-14 14:14] Harshalszz commented on #327
Hey! can I work on this in C++.

[2020-10-14 14:15] rajpratyush commented on #162
EDA for Fashion MNIST dataset and CIFAR 10 data set

[2020-10-14 14:16] rajpratyush commented on #318
hi @pratik-choudhari could you please assign me this issue

[2020-10-14 14:17] bhavya092 commented on #273
Can you assign this to me (C++)?

[2020-10-14 14:18] rajpratyush opened #355 "Sorting Algorithms"
# Feature ✅
# Bug 🐞
# Documentation 📑

## Description

## Example

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] This issue will be meaningful for the project.
- [ ] I will contribute more in future

__Contributors are supposed to mention their coding language while asking for assignment__

Can

[2020-10-14 14:19] #355 closed

[2020-10-14 14:24] rajpratyush opened #356 "Sorting Algorithms"
# Feature ✅
 A python program consisting  of Sorting Algorithms

## Description
I have created a python script which consists of 10 different sorting algorithms implemented as a menu driven program.
Can I put that in the repository?
 It consists of bubble sort, selection sort, heap sort, merge sort, shell sort etc...

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked al

[2020-10-14 14:52] andre-silva-14 commented on #346
Could you assign me with TypeScript?

[2020-10-14 15:01] kitteltom commented on #344
@pallavivaswani @pratik-choudhari I would like to do this in Python. Can you assign it to me?

[2020-10-14 15:10] andre-silva-14 commented on #38
I could work on this with Python, but I will need a clear problem description, this one is way too vague.

[2020-10-14 16:16] ghanender-chauhan commented on #346
i want to work on this please assign me this

[2020-10-14 17:12] Himanshu-Nagle commented on #346
@pallavivaswani Kindly please assign me

[2020-10-14 17:14] Himanshu-Nagle commented on #347
@pallavivaswani Kindly please assign me

[2020-10-14 17:24] pratik-choudhari commented on #346
@andre-silva-14 Place it under javascript folder.

[2020-10-14 17:25] pratik-choudhari commented on #346
@ghanender-chauhan @Himanshu-Nagle language?

[2020-10-14 17:32] pratik-choudhari commented on #162
@rajpratyush What will be the contents in your EDA?

[2020-10-14 17:34] pratik-choudhari commented on #318
@rajpratyush language?

[2020-10-14 17:37] pratik-choudhari commented on #356
@rajpratyush A similar issue exists, you can contribute to this [issue](https://github.com/pratik-choudhari/AlgoCode/issues/94)

[2020-10-14 17:37] #356 closed

[2020-10-14 17:40] pratik-choudhari commented on #38
@tusharnankani

[2020-10-14 17:47] rajpratyush commented on #318
Python

[2020-10-14 17:47] pratik-choudhari commented on #347
@Himanshu-Nagle Language?
@Harshalszz You have been assigned to 2 issues already, it is the max limit for this repo.

[2020-10-14 17:48] rajpratyush commented on #162
I have done several assignments on these two datasets while learning through an MOOC on Coursera Platform. I would like to share those.

[2020-10-14 17:50] rajpratyush commented on #94
Can you please assign me this issue?

[2020-10-14 17:53] pratik-choudhari commented on #318
@rajpratyush Its assigned to @dwij2212

[2020-10-14 17:56] shree-create commented on #346
can you assign me this issue with C?

[2020-10-14 17:57] pratik-choudhari commented on #162
@rajpratyush EDA on a image dataset, won't it be vague? On a dataset like CIFAR 10 the maximum one could get from EDA is the number of images in every category, correct me if there is any addition to this.

[2020-10-14 17:58] pratik-choudhari commented on #94
@rajpratyush You could take up python, c#, js.

[2020-10-14 18:18] subhadeep1912 commented on #276
Hey @pratik-choudhari i can try this in C#, Can you assign me? Thank you

[2020-10-14 18:21] rajpratyush commented on #162
I agree then how about an EDA ON a data set of toxic words  i remeber there was a kaggle competition regarding this  haad a successful contribution in this

[2020-10-14 18:33] ghanender-chauhan commented on #346
Python !!! Assign me please

[2020-10-14 18:56] pallavivaswani opened #365 "Find Pythagorean Triplet"
# Feature ✅

## Description

Find the set of Pythagorean triples from the given array
Pythagorean triplets condition: a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup>

## Example

<b>Input: </b>
[3,4,6,5,7,8]

<b>Output:</b>
[3 4  5]

<b>Explanation: </b>
3<sup>2</sup> + 4<sup>2</sup> = 5<sup>2</sup>

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing proje

[2020-10-14 18:59] pallavivaswani opened #366 "Operation On Singly Linked List"
# Feature ✅

## Description

Perform the following on a Singly Linked List:
- Insert a node in the beginning
- Insert a node at the end
- Insert a node at nth position
- Delete first node
- Delete Last node
- Delete nth node
- Search an element in a linked list

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project

[2020-10-14 19:00] pallavivaswani opened #367 "Operations on Doubly Linked List"
# Feature ✅

## Description

Perform the following on a Doubly Linked List
- Insert a node in the beginning
- Insert a node at the end
- Insert a node at nth position
- Delete first node
- Delete Last node
- Delete nth node

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meanin

[2020-10-14 19:03] pallavivaswani opened #368 "Infix to Prefix Conversion"
# Feature ✅

## Description

Conversion input infix equation to postfix expression

## Example

<b>Input: </b>((a / b) + c) - (d + (e * f ))

<b>Output:</b> -+/abc+d*ef

## Checklist:
- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in fu

[2020-10-14 19:04] pallavivaswani opened #369 "Postfix to Prefix Conversion"
# Feature ✅

## Description

Conversion input infix equation to postfix expression

## Example

<b>Input:</b> XY+UV-/
<b>Output:</b> /+XY-UV

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

__Contributors are su

[2020-10-14 21:23] KompuDan commented on #328
@pratik-choudhari  sure, i'll do it on python

[2020-10-15 02:48] rajpratyush commented on #94
@pratik-choudhari i would like to take Python

[2020-10-15 03:00] rajpratyush commented on #94
@pratik-choudhari Can you assign me this issue?

[2020-10-15 03:14] Suraj1199 commented on #345
Would like to do in other languages. (Python, C , Java)

[2020-10-15 03:35] poojitha2002 commented on #345
Hello, I am interested to do this.

[2020-10-15 03:46] tusharnankani commented on #38
I edited the Problem Statement yesterday itself. Let me know what more details you want to know! @andre-silva-14

[2020-10-15 07:00] #221 closed

[2020-10-15 07:09] sarthak-21 commented on #365
@pratik-choudhari assign this issue to me. I will do it in C.

[2020-10-15 07:10] andre-silva-14 commented on #38
@tusharnankani That's great! I think it is clearer now, thank you.

@pratik-choudhari Could you assign the issue to me? Thank you!

[2020-10-15 07:26] pallavivaswani commented on #345
@poojitha2002 Please mention which language?

[2020-10-15 07:30] Ayushmanglani commented on #347
Assign this to me for Python

[2020-10-15 07:55] coreprogrammar commented on #327
I would like to complete this in C++

[2020-10-15 08:19] Flamer17 commented on #368
hey, for my 2nd pull req. can you assign this one to me
my first one was Abundant Number Issue 348

ill be using java again

[2020-10-15 08:21] poojitha2002 commented on #345
@pallavivaswani  I would like to do in JAVA

[2020-10-15 08:27] poojitha2002 commented on #345
@pallavivaswani I am also good at cpp or c..Any language is comfortable to me..Can you please confirm me, which language should I do?

[2020-10-15 09:17] pratik-choudhari commented on #276
@subhadeep1912 You cant PR for this issue. You have already 2 contributions.

[2020-10-15 09:18] pratik-choudhari commented on #162
@rajpratyush Yes that will suffice.

[2020-10-15 09:22] pratik-choudhari commented on #346
@ghanender-chauhan Contribution limit reached.

[2020-10-15 09:26] sarthak-21 commented on #365
@pratik-choudhari Response awaited!

[2020-10-15 09:27] rajpratyush commented on #162
@pratik-choudhari btw you have assigned me this issue yet https://github.com/pratik-choudhari/AlgoCode/issues/94#issue-714136213

[2020-10-15 10:27] bgbenzer commented on #277
Hi, Can i try this one with C#

[2020-10-15 10:31] atharvakarnik commented on #22
Hey @pratik-choudhari, I have done this problem earlier in Python. Can you assign it to me?

[2020-10-15 10:39] AniketDGiri commented on #347
hello, Could you please assign this to me for C++

[2020-10-15 11:02] AniketDGiri commented on #345
hello, Could you please assign this to me for C++?

[2020-10-15 11:05] AniketDGiri commented on #348
Hello, I would like to do this in C++.

[2020-10-15 11:09] kusumapriyankaajjarapu commented on #366
I want to code it in Java. Assign me please.

[2020-10-15 11:18] kusumapriyankaajjarapu commented on #347
Hi, I want to code it in Java. Could you please assignme.

[2020-10-15 11:18] AniketDGiri commented on #344
Hello, I would like to do it in C++, Could you please assign this to me?

[2020-10-15 11:55] Himanshu-Nagle commented on #347
C# and PHP

[2020-10-15 11:58] Himanshu-Nagle commented on #346
C++ and C#

[2020-10-15 12:21] subhadeep1912 commented on #276
@pratik-choudhari I cant make more than 2 contributions?

[2020-10-15 12:32] pratik-choudhari commented on #346
@Himanshu-Nagle It has been assigned to @shree-create as he mentioned the language, which is asked in the issue at bottom.

[2020-10-15 12:34] pratik-choudhari commented on #276
@subhadeep1912 Yep, read code of conduct.

[2020-10-15 12:38] Himanshu-Nagle commented on #346
She asked for C. If not possible to assign for C++ then please assign me C#

[2020-10-15 13:23] ankita319 commented on #345
Hii!, Can you Assign this c++ project to me?

[2020-10-15 13:38] ankita319 commented on #238
Can you assign this to me? I will be using c language.

[2020-10-15 14:01] uddeshyatyagi commented on #369
@pratik-choudhari ,please assign this to me, i have already worked on it.
#373
Thank you

[2020-10-15 16:19] Utkarshn10 commented on #345
@pratik-choudhari I would like to do this in Java

[2020-10-15 16:23] PulkitPansari13 commented on #366
Can you assign it to me. Language Python

[2020-10-15 17:17] Flamer17 commented on #348
I have created a new clean pull request as told for this issuse

[2020-10-15 17:41] Utkarshn10 commented on #346
@pallavivaswani @pratik-choudhari I would like to do it in Java.

[2020-10-15 17:46] pratik-choudhari commented on #238
@ankita319 It has already been assigned to someone else.

[2020-10-15 17:51] #369 closed

[2020-10-15 18:00] pratik-choudhari commented on #345
It has been already assigned in Java to someone else

[2020-10-15 18:08] drashtipatel2503 commented on #366
Can I code in python?

[2020-10-15 18:11] PriyanshuGangwar commented on #368
hey, can you assign this to me in C++ ??

[2020-10-15 18:20] pratik-choudhari commented on #366
@drashtipatel2503 It is already assigned in python to someone else.

[2020-10-15 18:56] ghanender-chauhan commented on #344
assign me this i will do in python
its my second contribution plz assign me

[2020-10-15 19:01] ghanender-chauhan commented on #368
asiign me this i will do in python

[2020-10-15 19:20] kushverma86 commented on #367
hey can you assign this to me ?

[2020-10-15 19:20] carolinejoseph commented on #348
Hi, I would like to do this problem in Python

[2020-10-15 19:51] stuti-ui commented on #367
@pallavivaswani can you assign this to me I will use c++.

[2020-10-15 19:53] stuti-ui commented on #366
@pallavivaswani can you assign me this I will use c++

[2020-10-15 20:30] AshwinKul28 commented on #367
I would like to pick this in CPP language. can you please assign it to me?

[2020-10-16 03:32] drashtipatel2503 commented on #366
With C?

[2020-10-16 05:07] KompuDan commented on #305
hi, can i contribute with this? i would use python

[2020-10-16 05:13] KompuDan commented on #365
Hi, i would like to implement this on python, can you asign it to me?

[2020-10-16 05:15] KompuDan commented on #348
Hello, I would like to do this in python

[2020-10-16 05:48] pratik-choudhari commented on #344
@ghanender-chauhan It is assigned to @kitteltom

[2020-10-16 05:50] pratik-choudhari commented on #367
@kushverma86 Language?

[2020-10-16 05:53] pratik-choudhari commented on #366
Assigned to @stuti-ui based FCFS

[2020-10-16 05:55] pratik-choudhari commented on #305
@KompuDan You are assigned to 2 issues, it's the max limit for this repo.

[2020-10-16 06:00] drashtipatel2503 commented on #345
Can I go with python?

[2020-10-16 06:48] poojitha2002 commented on #345
@pallavivaswani I have added OperationsOnArray .I request you to please check the file and let me know if there are any changes to be done.

[2020-10-16 06:49] kusumapriyankaajjarapu commented on #347
@pratik-choudhari Awaiting your response.

[2020-10-16 08:29] harshitalashkari commented on #368
Hey can you assign this o me!! I'll use Java

[2020-10-16 08:32] harshitalashkari commented on #365
Can you please assign this to me. I'll use Java

[2020-10-16 09:19] xcyraxx commented on #365
Can i do this, i can do in Python or Java

[2020-10-16 09:34] barrotsteindev commented on #367
Can you assign me?
I will use C++

[2020-10-16 09:39] barrotsteindev commented on #336
I'd like to do this in C++

[2020-10-16 10:09] AniketDGiri commented on #367
Hello, Could you please assign this to me in c++?

[2020-10-16 10:15] drashtipatel2503 commented on #345
I have done with the task. Any updates required?

[2020-10-16 11:00] pratik-choudhari commented on #367
@AniketDGiri You are already assigned to 2 issues which is the limit for this repository.

[2020-10-16 11:09] pratik-choudhari opened #405 "Bit array"
# Feature ✅

## Description
Given four integers N,S,P,Q, calculate the number of distinct elements in array `a` calculated using the following pseudo code:
<pre>
a[0] = S (modulo 2^31)
for i = 1 to N-1
    a[i] = a[i-1]*P+Q (modulo 2^31)
</pre>

## Example
Input: 3 1 1 1
Output: 3

__Contributors are supposed to mention their coding language while asking for assignment__

[2020-10-16 11:21] pratik-choudhari opened #406 "Hotel prices"
# Feature ✅

## Description
A hotel has two types of room standard and luxury. Every customer mentions the number of bedrooms and bathrooms required for that particular room.
[code]
The task is to print the total cost of rooms requested.

## Example
First line will be the number of test cases. Room data format `room-type bedrooms bathrooms`.
There can be any number of standard and luxury rooms.

I

[2020-10-16 11:31] therealkiddo commented on #406
Hi, regarding the output of the example case mentioned, shouldn't the output be 224?

[2020-10-16 11:32] A-Annan commented on #406
Can I work on it ?

[2020-10-16 11:36] kitteltom commented on #405
@pratik-choudhari I can do that in Java. Can you please assign it to me?

[2020-10-16 11:56] bhavya092 commented on #366
Can you assign this to me? I'll help in C/C++ ...

[2020-10-16 11:58] bhavya092 commented on #346
Can you assign this to me? (C++)

[2020-10-16 12:00] bhavya092 commented on #344
Can you assign this to me ? (C++)

[2020-10-16 12:47] jayaganeshkumar commented on #348
@pratik-choudhari  can you assign it for java to me?

[2020-10-16 12:56] bhavinisehgal18 commented on #365
can you assign me C++

[2020-10-16 13:24] carolinejoseph commented on #347
Hey, can I do this problem in C++?

[2020-10-16 14:30] anshika0207 commented on #405
@pratik-choudhari can you assign this to me? I can code in c++.

[2020-10-16 14:32] anshika0207 commented on #406
@pratik-choudhari can you assign this to me? I can code in c++

[2020-10-16 14:38] atharvakarnik opened #410 "Last digit of Squared Fibonacci sequence"
# Feature ✅

## Description
Write a program to compute the sum of the squared Fibonacci sequence. <br>
The program takes input of natural number 'n', and must compute F<sub>0</sub><sup>2</sup>+F<sub>1</sub><sup>2</sup>+F<sub>2</sub><sup>2</sup>+...+F<sub>n</sub><sup>2</sup>
The output should be the last digit of this summation.

#### NOTE:
Be careful while implementing the program as naive approac

[2020-10-16 14:58] anshika0207 commented on #305
@pratik-choudhari can you assign this to me? I can code in python3

[2020-10-16 15:01] anshika0207 commented on #277
@pratik-choudhari can you assign this to me? I can code in c++

[2020-10-16 15:41] namita2310 commented on #405
@pratik-choudhari can you assign this to me? I can code in c.

[2020-10-16 16:11] pratik-choudhari commented on #366
@bhavya092 Taken in C/C++

[2020-10-16 16:11] pratik-choudhari commented on #346
@bhavya092 Its taken in C/C++

[2020-10-16 16:12] pratik-choudhari commented on #348
@jayaganeshkumar Its assigned to someone else

[2020-10-16 16:13] pratik-choudhari commented on #365
@bhavinisehgal18 It assigned in C++ to someone else

[2020-10-16 16:13] jayaganeshkumar commented on #348
Ok then

[2020-10-16 16:19] gaurangagarwal commented on #406
I would like to work on this issue. Can you assign me for Java ?

[2020-10-16 16:19] pratik-choudhari commented on #406
@therealkiddo I have added the explanation check it out.

[2020-10-16 16:19] gaurangagarwal commented on #406
Agreed.

[2020-10-16 16:21] pratik-choudhari commented on #406
@A-Annan Lang?

[2020-10-16 16:25] gaurangagarwal commented on #406
Hi @pratik-choudhari ,
The second test case is `luxury 1 1`, which means the number of bed rooms is 1 and bathrooms is 1. In the `explanation` section, you have considered the bedrooms and bathrooms as 3 and 1 respectively even for Luxury rooms (may be based on the 1st test case). Can you please clarify ?

[2020-10-16 16:28] pratik-choudhari commented on #406
@anshika0207 I mistakenly assigned you to this issue. You are already assigned to 2 issues which is the limit to this repository.

[2020-10-16 16:31] pratik-choudhari commented on #406
@gaurangagarwal @therealkiddo Mistake from my side, rectified now. Thanks for bringing that up!👏

[2020-10-16 16:36] PriyanshuGangwar commented on #410
Hi, Can you assign this in C++ ?

[2020-10-16 16:39] pratik-choudhari commented on #410
@PriyanshuGangwar You are already assigned to 2 issues, that's the limit for this repository.

[2020-10-16 16:51] amulya12 commented on #406
can you assign it to me. I can code in JAVA

[2020-10-16 16:56] cmeyrueix4 commented on #410
Hey, can you assign this to me in Java?

[2020-10-16 17:24] xcyraxx commented on #365
I've pull-requested the python file for pythagorean triplets

[2020-10-16 18:15] ananthalakshmiragi commented on #105
Hi, how are the tags determined? is it every Capitalised letter?

[2020-10-16 18:19] anu-ragi commented on #405
hi, i can try in javascript.. can u pls assign..

[2020-10-16 18:39] ShubhamNagure commented on #406
Hi @pratik-choudhari
Please assign me this task

[2020-10-17 05:50] pratik-choudhari commented on #105
@ananthalakshmiragi @paraggoyal28 Have look at he example again, there was an issue with github markdown.

[2020-10-17 05:52] pratik-choudhari commented on #406
@ShubhamNagure Lang

[2020-10-17 05:55] drashtipatel2503 commented on #162
Hii, can I go for weather analysis?

[2020-10-17 05:59] pratik-choudhari commented on #162
@drashtipatel2503 Sure! Put a link and name on data set on issue #161

[2020-10-17 06:58] ShubhamNagure commented on #406
Python3 or Java.
Whichever you prefer.

[2020-10-17 07:20] #263 closed

[2020-10-17 07:29] SalmaBliss commented on #410
Hey, Can you assign this to me in C# ?

[2020-10-17 09:36] SalmaBliss commented on #331
Hi ! @ pratik-choudhari ...I would like to work on this in C++

[2020-10-17 11:05] carolinejoseph commented on #367
Hey, can I try this problem in Python?

[2020-10-17 11:45] pratik-choudhari commented on #331
@SalmaBliss With GUI?

[2020-10-17 11:56] #48 closed

[2020-10-17 11:56] #22 closed

[2020-10-17 11:56] #9 closed

[2020-10-17 11:56] #52 closed

[2020-10-17 11:56] #94 closed

[2020-10-17 11:56] #118 closed

[2020-10-17 11:56] #149 closed

[2020-10-17 11:56] #191 closed

[2020-10-17 11:56] #207 closed

[2020-10-17 11:56] #228 closed

[2020-10-17 11:56] #238 closed

[2020-10-17 11:57] #264 closed

[2020-10-17 11:57] #271 closed

[2020-10-17 11:57] #273 closed

[2020-10-17 11:57] #274 closed

[2020-10-17 11:57] #275 closed

[2020-10-17 11:57] #277 closed

[2020-10-17 11:57] #278 closed

[2020-10-17 11:57] #279 closed

[2020-10-17 11:57] #280 closed

[2020-10-17 11:57] #305 closed

[2020-10-17 11:58] #327 closed

[2020-10-17 11:58] #345 closed

[2020-10-17 11:58] #347 closed

[2020-10-17 11:58] #348 closed

[2020-10-17 11:58] #365 closed

[2020-10-17 11:58] #366 closed

[2020-10-17 11:58] #368 closed

[2020-10-17 13:19] drashtipatel2503 commented on #161
Dataset: car price prediction cardekho

[2020-10-17 16:02] codeit-dotcom commented on #405
can you assign this to me ? i can code in c++

[2020-10-17 16:18] codeit-dotcom commented on #410
Can you assign this to me? i will do in C++

[2020-10-17 16:23] codeit-dotcom commented on #321
can you assign this to me? i will code in C++

[2020-10-17 16:35] anu-ragi commented on #410
Hi, I would like to do this in Javascript. Pls assign.

[2020-10-17 17:35] cmeyrueix4 commented on #336
Hey can I get this assigned in Java?

[2020-10-17 18:05] #410 closed

[2020-10-18 06:42] dwij2212 commented on #318
@pratik-choudhari I think this issue can be closed by referring to PR #378 .

[2020-10-18 07:31] leli-1 commented on #242
Can you assign this to me in python

[2020-10-18 11:38] sawzedong commented on #328
Since Isha2208 hit the limit for number of assigned issues, may I take this issue and implement in C++? Thanks!

[2020-10-18 18:57] ShubhamNagure commented on #406
Hi @pratik-choudhari ,
Task completed.
Please check and review #432 PR.
Thanks for the opportunity.

[2020-10-19 02:51] wjyeap123 commented on #367
Hi, I would like to work on this problem in JavaScript. Can you assign to me? Thanks.

[2020-10-19 02:56] wjyeap123 commented on #321
Hi, can you assign this to me? I would like to do this in Python. Thanks.

[2020-10-19 03:12] weicheansoo commented on #367
Hi, can I work on this in Java?

[2020-10-19 03:13] drashtipatel2503 commented on #329
Can I code in python?

[2020-10-19 05:57] manojrao3619 commented on #406
Hi @pratik-choudhari ,
can you assign it to me for C++/JavaScript.

[2020-10-19 06:16] anu-ragi commented on #410
Is this closed for assignees also?

[2020-10-19 11:37] pratik-choudhari commented on #410
@anu-ragi Nope.

[2020-10-19 16:13] sanskritip commented on #162
Hey Pratik! Can I add EDA for StackOverflow Developer 2019 Dataset? I will be adding the CSV files, Data Cleaning Jupyter Notebook and additionally the Visualisation Notebook.

[2020-10-19 18:08] pratik-choudhari commented on #162
@sanskritip Sure, don't include the CSV files it will increase the repo size instead put the link of dataset.

[2020-10-19 18:42] sanskritip commented on #162
Awesome Sounds great!

[2020-10-19 19:43] ananthalakshmiragi opened #440 "Fix for addition of two positive integers linked to A simple calculator in javascript"
# Bug 🐞

## Description
Fix for addition of two positive integers instead of concatenating two integers. Reference to #426 linked to Feature: A simple calculator in javascript

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute mo

[2020-10-19 19:52] cs-mshah commented on #321
@pratik-choudhari the PR for C++ has been done with documentation. Kindly check and accept the PR.

[2020-10-20 13:11] ananthalakshmiragi commented on #406
hi, can do it in java or javascript. Please assign.

[2020-10-20 18:24] pallavivaswani opened #444 "N-Queen Problem"
# Feature ✅

## Description

The N Queen is the problem of placing N chess queens on an N×N chessboard so that no two queens attack each other.

## Example

<b>Input:</b> N=4
<b>Output:</b>
4 Queen problem
<pre>{ 0,  1,  0,  0}
{ 0,  0,  0,  1}
{ 1,  0,  0,  0}
{ 0,  0,  1,  0}</pre>

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before su

[2020-10-20 18:24] ananthalakshmiragi commented on #105
Thanks, so the tagnames are not predefined. Can there be multiple tags in a line? or is it only one per line..

[2020-10-20 19:22] Monigingir commented on #319
Sorry Pratik, I am completely swamped and did not get any time to look at this, happy for you to un assign since there is a time crunch.

[2020-10-21 05:18] manojrao3619 commented on #444
Hi @pallavivaswani,
can you assign me for C++.

[2020-10-21 08:28] pratik-choudhari commented on #406
@manojrao3619 C++ and @ananthalakshmiragi Js

[2020-10-21 08:28] pratik-choudhari commented on #105
@ananthalakshmiragi Let's keep it a single tag per line.

[2020-10-21 08:30] pratik-choudhari commented on #319
@Monigingir You can work on it any time later, there's no problem. Still do you want to get unassigned?

[2020-10-21 08:33] #440 closed

[2020-10-21 08:35] Monigingir commented on #319
thanks @pratik-choudhari , thank you , then i will continue whenever I get some time :)

[2020-10-21 08:36] pratik-choudhari commented on #319
@Monigingir Welcome!

[2020-10-21 11:18] #328 closed

[2020-10-21 11:18] #329 closed

[2020-10-21 11:18] #336 closed

[2020-10-21 11:18] #367 closed

[2020-10-21 11:18] #406 closed

[2020-10-21 11:20] #83 closed

[2020-10-21 11:20] #346 closed

[2020-10-21 11:20] #276 closed

[2020-10-21 11:20] #227 closed

[2020-10-21 11:20] #95 closed

[2020-10-21 11:21] #175 closed

[2020-10-21 11:21] #166 closed

[2020-10-21 11:21] #1 closed

[2020-10-21 11:21] #5 closed

[2020-10-21 11:21] #7 closed

[2020-10-21 11:21] #8 closed

[2020-10-21 11:21] #20 closed

[2020-10-21 11:21] #27 closed

[2020-10-21 11:22] #38 closed

[2020-10-21 11:22] #36 closed

[2020-10-21 11:22] #116 closed

[2020-10-21 11:22] #147 closed

[2020-10-21 11:23] #57 closed

[2020-10-21 11:23] #56 closed

[2020-10-21 11:23] #53 closed

[2020-10-21 11:23] #145 closed

[2020-10-21 11:23] #141 closed

[2020-10-21 12:04] PrattJena commented on #261
Since the branch is merged its best to close this issue.

[2020-10-21 16:08] ShraxO1 commented on #444
Can you assign me for Python.

[2020-10-21 16:09] ShraxO1 commented on #344
Can you assign me for python/C/C++

[2020-10-21 16:52] pratik-choudhari commented on #261
@PrattJena That issue is generic

[2020-10-21 19:13] aniket173000 commented on #444
Can you please assign me this issue . I can do it in C or C++ .

[2020-10-22 08:29] #237 closed

[2020-10-22 08:29] pratik-choudhari commented on #444
@aniket173000 It is assigned to @manojrao3619 in C/C++

[2020-10-22 08:52] ananthalakshmiragi commented on #105
okay, Please assign to me in Java.

[2020-10-22 10:34] pavleen14 commented on #444
Hey @pallavivaswani Can you assign this to me? I will provide a solution in JAVA.

[2020-10-22 19:37] namrata18s commented on #444
could you assign this issue to me, can provide solution in c, cpp, java

[2020-10-22 22:40] Nishitk-20 opened #450 "Closest Pair Of Points"
# Feature ✅

## Description
An array of n points in the plane, and the problem is to find out the closest pair of points in the array.

## Example
  __Input__ :
         N = 6
         Array =[ {2, 3}, {12, 30}, {40, 50},
                      {5, 1}, {12, 10}, {3, 4} ]

 __Output__ :
        Smallest Distance = 1.414214

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checke

[2020-10-22 22:45] Nishitk-20 commented on #450
I will like to solve this using cpp

[2020-10-23 06:54] pavleen14 commented on #444
I have submitted the solution to issue #444. Kindly review and merge it. @pratik-choudhari

[2020-10-24 21:03] MAHIMA01 commented on #344
Can you please assign me this issue for JAVA and Python?

[2020-10-25 02:52] sawzedong commented on #242
Hi, could I take this in Java?

[2020-10-25 07:04] vksingh25 commented on #450
I would like to solve this using CPP

[2020-10-25 10:15] RachanaKampli commented on #450
can you assign this to me to in python?

[2020-10-25 19:10] Nishitk-20 opened #456 "Distinct Permutations Of the String"
# Distinct Permutations Of the String
# Feature ✅

## Description
To print all the possible permutations of the String which are different, that is, no permuatations are repeated
A permutation, also called an “arrangement number” or “order,” is a rearrangement of the elements of an ordered list S into a one-to-one correspondence with S itself. A string of length n has n! permutation.

## Example

[2020-10-25 19:10] Nishitk-20 commented on #456
I will like to do it using cpp

[2020-10-26 01:50] wjyeap123 commented on #456
Hi, I would like to do this in Python

[2020-10-26 01:56] aaabot opened #457 "Easy to understand k-nearest neighbors algorithm"
# Feature ✅

## Description
A k-nearest neighbors that are easy to understand. It should be able to do a simple machine learning based on the data feeded by the users.

## Example
To differentiate a flower type by specifying it's sepal and petal. The datasets may contains hundreds row of data.

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects,

[2020-10-26 03:31] Heisenamphetamine commented on #330
@pratik-choudhari please Assign this to me. I will do in python.

[2020-10-26 07:08] dhairya-parikh commented on #190
Can you please assign this to me in Java?
@pratik-choudhari

[2020-10-26 10:17] #330 closed

[2020-10-26 10:21] #444 closed

[2020-10-26 10:22] #261 closed

[2020-10-26 10:22] #248 closed

[2020-10-26 10:22] #247 closed

[2020-10-26 10:22] #246 closed

[2020-10-26 10:22] #233 closed

[2020-10-26 19:47] MAHIMA01 commented on #176
Hi, can you assign me this issue for Java please?

[2020-10-26 23:05] Shreyas-Gupta-21 commented on #457
Hello I'm Interested to do in python. Pls assign this to me

[2020-10-27 07:49] sanskritip commented on #165
I would like to add an EDA for a Loan Application Dataset!

[2020-10-27 09:44] pratik-choudhari commented on #165
Sure, why not! Head over to this [repo](https://github.com/pratik-choudhari/Learning-R). Read the readme once and you are good to go.

[2020-10-27 10:12] DishantIsrani opened #466 "python code to access geodata"
This is a geodata to get mini google maps of your own
# Python ✅
# Html access  🐞
# Documentation 📑

## Description
This is a python code for accessing geodata and also adding geoload and using both we get a specific location we want by adding it in code. similar to mini google maps of specific location

## Example
to get location of Bangalore University just have to run code and give banglore val

[2020-10-27 10:24] DishantIsrani commented on #203
I can try this in python

[2020-10-27 10:24] pratik-choudhari commented on #466
@DishantIsrani Could you a sample input and output in example?

[2020-10-27 10:25] pratik-choudhari commented on #203
@DishantIsrani It is already assigned to someone else in python

[2020-10-27 14:01] sanskritip opened #467 "Welsh Powell Algorithm for Graph coloring"
# Feature ✅

## Description
Welsh Powell is used to implement graph labeling/coloring; it is an assignment of labels traditionally called "colors" to elements of a graph subject to certain constraints.

## Example
![image](https://user-images.githubusercontent.com/48806637/97311391-5117cd80-188a-11eb-876f-ea8382ec7ef9.png)
The program will basically take a graph input and return the color assignme

[2020-10-27 14:01] sanskritip commented on #467
I'd like to work on this using C.

[2020-10-27 17:21] cs-mshah opened #468 "Binary Indexed (Fenwick) Trees in C++"
# Feature ✅

## Description

Implementation of Fenwick trees to answer multiple queries on an array fast.

## Checklist:

- [*] I have read the project guidelines.
- [*] I have checked all the existing projects, before submitting a new project issue.
- [*] This issue will be meaningful for the project.
- [*] I will contribute more in future

[2020-10-27 17:22] cs-mshah commented on #468
@pratik-choudhari can you assign this issue to me.

[2020-10-27 18:15] #190 closed

[2020-10-27 18:16] #203 closed

[2020-10-27 18:16] #210 closed

[2020-10-27 18:16] #234 closed

[2020-10-27 18:16] #236 closed

[2020-10-27 18:16] #242 closed

[2020-10-27 18:17] #178 closed

[2020-10-27 18:17] #176 closed

[2020-10-27 18:17] #318 closed

[2020-10-27 18:17] #405 closed

[2020-10-27 18:18] #344 closed

[2020-10-27 18:18] #456 closed

[2020-10-27 18:18] #450 closed

[2020-10-28 06:19] Nishitk-20 commented on #467
I would like to do it in cpp

[2020-10-28 08:38] pratik-choudhari commented on #467
@Nishitk-20 C and c++ are  not distinguished in this repo.

[2020-10-28 10:11] Nishitk-20 commented on #468
I can do this in java. Can you assign me.

[2020-10-28 10:11] Nishitk-20 commented on #467
@pratik-choudhari
yes I saw, no problem

[2020-10-29 06:12] Nishitk-20 opened #472 "Nth Node from The end Of the LinkedList"
# Feature ✅

## Description

Given a Linked List and a number n, write a program that prints the value at the n’th node from the end of the Linked List.
## Example

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] This issue will be meaningful for the project.
- [x] I will contribute more in future

[2020-10-29 06:12] Nishitk-20 commented on #472
I will like to solve this using cpp

[2020-10-29 12:52] pratik-choudhari commented on #472
@Nishitk-20 A similar issue has already been implemented.

[2020-10-29 12:52] #472 closed

[2020-10-29 14:27] Nishitk-20 opened #473 "Simon Game"
# Feature ✅
# Bug 🐞
# Documentation 📑

## Description

The simon game, made with javascript, html and CSS.
## Example

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] This issue will be meaningful for the project.
- [ ] I will contribute more in future

__Contributors are supposed to mention their

[2020-10-29 14:27] Nishitk-20 commented on #473
Please assign it to me

[2020-11-04 16:43] dhairya-parikh opened #476 "Sleep Sort Algorithm"
# Feature ✅

## Description
 Sort an array of given non-negative integers using Sleep Sort Algorithm.
 In this algorithm, we create different threads for each of the elements in the input array and then each thread sleeps for an amount of time which is proportional to the value of the corresponding array element.

## Example
INPUT: 8 2 9
OUTPUT: 2 8 9

## Checklist:

- [x] I have read the project

[2020-11-05 14:58] #476 closed

[2020-11-22 15:57] rodrigo-br opened #479 "Code crashing when divide by 0"
# Bug 🐞

## Description
It's just something to atempt it. When user input a 0 and ask for a division, it return an error.

## Example
def _div(left: int, right: int) -> int:
  return left / right
  if left == 0 or right == 0:  # This is an important thing too, so the the code don't outcome an error
     print('Unable to divide by zero')
  else:
     return left / righ

## Checklist:

- [x] I have

[2020-11-24 10:35] pratik-choudhari commented on #479
@rodrigo-br Great, can you make a PR?

[2020-11-24 11:13] rodrigo-br commented on #479
@pratik-choudhari done! Is my first PR so if theres something wrong, please let me know.

[2020-11-24 11:26] #479 closed

[2020-12-01 16:57] ankita0025 commented on #319
hi @pratik-choudhari can you assign this issue to me.. will use python ofc

[2020-12-03 17:52] pratik-choudhari commented on #319
@ankita0025 Assigned to you.

[2021-08-02 12:13] prathamesh-borse commented on #321
Is this issue still open, I would like to code Dijkstra's Algorithm in Java Thanks.